@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');
.reklama11{
    grid-column-start: 3;
    grid-column-end: 5;
          grid-row-start: 2;
          grid-row-end: 4;
          position: relative;padding-top: 13%;
          top: -15px;
          left: 16px;
     
}
.reklama11 a .bx-chevron-right{
    position: relative;
    top: 3.5px;
}
.reklama11 img{
    position: absolute;
    width: 96%;
    z-index: -1;
    top: 0px;
    height: 100%;
    left: 0px;
    border-radius: 30px;
}
.reklama11 h1{
     font-family: "Montserrat", sans-serif;
font-size: 48px;
font-weight: 600;
line-height: 55.2px;
text-align: left;
color: #242424;
padding-left: 6%;
margin-bottom: 25px;
}
.reklama11 a{
     font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    color: #242424;
    outline: none;
    padding-left: 6%;
   
}
.reklama21 {
width: 96%;
background-color: black ;
padding-top: 13%;
border-radius: 30px;
overflow: hidden;
}
.reklama21 a .bx-chevron-right{
    position: relative;
    top: 3.5px;
}
.reklama21 h1{
    padding-left: 6%;
text-transform: uppercase;
color: #FFF957;
 font-family: "Montserrat", sans-serif;
font-size: 48px;
font-weight: 600;
line-height: 55.2px;
text-align: left;
margin-bottom: 25px;
letter-spacing: -3px;
}
.reklama21 a{
     font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    color: white;
    outline: none;
    padding-left: 6%;
}
.reklama21 p{
    width: 88%;
    margin: auto;
    color: white;
    font-family: "Carrois Gothic SC", sans-serif;
font-size: 22px;
font-weight: 400;
line-height: 33px;
text-align: left;
margin-top: 40px;
letter-spacing: 1px;
}
.reklama21 .reklama21_image{
    position: relative;
}
.reklama21 .reklama21_image .ssss1{
    width: 144%;
    scale: 1.3;
    position: relative;
    left: 4%;
}
.reklama21 .reklama21_image .ssss2{
    width: 80%;
    position: absolute;
    bottom: -4px;
    left: 10%;
}
.reklama23{
    grid-column-start: 1;grid-column-end: 3;
          grid-row-start: 6;
          grid-row-end: 8;
          margin-top: -19px;
}
.reklama31{
    grid-column-start: 3;
    grid-column-end: 5;
          grid-row-start: 2;
          grid-row-end: 4;
          position: relative;padding-top: 33%;
          top: -20px;
          margin-left: 10px;
    width: 101%;
}
.reklama31 a .bx-chevron-right{
    position: relative;
    top: 3.5px;
}
.reklama31 img{
    position: absolute;
    width: 96%;
    z-index: -1;
    top: 0px;
    height: 100%;
    left: 0px;
    border-radius: 30px;
}
.reklama31 h1{
     font-family: "Montserrat", sans-serif;
font-size: 48px;
font-weight: 600;
line-height: 55.2px;
text-align: left;
color: #FFF957;
padding-left: 8%;
padding-top: 109%;
margin-bottom: 25px;
letter-spacing: -2px;
}
.reklama31 a{
     font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    color: white;
    outline: none;
    padding-left: 7%;

}
.widthto2{
    margin-top: 120px;
    display: flex;
    align-items: center;
  width:   98.5%;
    justify-content: space-between;
}
.widthto2 .pagnation{
display: flex;
gap: 16px;
}
.widthto2 .pagnation span{
   width: 44px;
   height: 44px;
border-radius: 12px;
font-family: Montserrat;
font-size: 22px;
font-weight: 400;
line-height: 26.82px;
text-align: left;
display: flex;
justify-content: center;
align-items: center;
    }

    .span1{
        font-family: Montserrat;
font-size: 22px;
font-weight: 400;
line-height: 26.82px;
text-align: left;

    }
    .noviiy{
        padding-top: 88px !important;
    }
   