
.routerclick{
    width: 100%;
    min-height:250px;
    padding-bottom: 20px;
    background-color: white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
   
}
.get_product{
    display: flex;
    justify-content: end;
    align-items: end;    
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.151);
    height: 100vh; 
    display: none;
}
.routic{
    width: 92%;
    margin: auto;
    margin-top: 22px;
}
.closehead{
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
    margin-top: 10px;
}
.closehead1{
    display: flex;
    justify-content: space-between;
    margin-bottom:4px;
    align-items: center;
}
.closehead span{
    font-size: 14px;
}
.closehead1 h3{
    text-transform: uppercase;
    font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 21.94px;
text-align: left;
/* margin-top: -8px; */

}
.closehead input{
    width: 16px;
    height: 16px;
}

.closehead1 .bx-x{
    font-size: 35px;
   
    font-weight: 100 !important;
    position: relative;
    /* left: 30px; */
}
.closehead1 img{
    position: relative;
    left: 0px; 
    margin-top: -10px;
}
.pagerout_pk{
    display: flex;
    gap: 7px;
    width: 95%;
     max-width: 1440px;
    height: 40px;
    margin: auto;
    /* margin: auto; */
    align-items: center;
margin-top:53px !important;
}
.pagerout_pk img{
width: 25px;
height: 25px;

}
.twobtn{
    display: flex;
    justify-content: space-around;
}
.twobtn button{
    width:144px;
height:35px;
padding: 10px 14px 10px 14px;
gap: 10px; 
 border: none;
border-radius: 6px;    
background-color: #FFF957; 
opacity: 0px;
 font-size: 12px;
 margin-top: 4px;
}
.pagerout_pk i{
font-size: 24px;
color: #808080;
font-weight: 400x;
}
.pagerout_pk span{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    
}

.titlepage{
    display: flex;
    align-items: center ;
     max-width: 1440px;
    margin: auto;
    margin-top: 30px;
    gap: 20px;
    width: 95%;
}
.titlepage h1{
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 600;
    line-height: 34.13px;
    text-align: left;
    color: black;
}
.titlepage p{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    text-align: left;
    color: #7D7D7D;
}

@media(max-width:991px){
    .pagerout_pk{display: none;}
    .titlepage{
        display: none;
    }
}

.main_card{
    max-width: 1200px;margin-top: 24px;
}
.main_card .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 17px;
   
}
.card{
    margin: auto;
    width: 95%;
}
.main_card .cards .card1 {
    margin-bottom: 20px;
    width: 100%;
    /* background-color: rebeccapurple; */
    min-height: 456px;
}
@media (max-width:900px) {
    .main_card .cards .card1{
        min-height: auto !important;
    }
}
@media (max-width:600px) {
  /* .main_card .cards .card1 .swiper-slide img{
        height: 160px;
        width: auto;
    } */
    /* .main_card .cards .card1 .card_img img{
        width: 160px;
        height:160px ;
    } */
}
.main_card .cards .card1 .card_img{
    position: relative;
    width: 100%;
    margin-bottom: 10px;

}
.main_card .cards .card1 .card_img .novinki{
position: absolute;
top: 0px;
right: 20px;
display: flex;
justify-content: end;
z-index: 12;
align-items: end;
flex-direction: column;
}
.main_card .cards .card1 .card_img .novinki .one1{
    width: 72px;
    height: 20px;
    gap: 0px;
    border-radius: 2px 0px 0px 0px;   
    background: #62C752;
    font-family: "Jost", sans-serif;
    font-size: 12px !important;
    font-weight: 600;
    margin: 0px !important;
    line-height: 20px;
    /* display: flex; */
color: white;
text-align: center;
    
}
.main_card .cards .card1 .card_img .novinki .two2{
    width: 55px;
    height: 20px;   
    background: #7751DA;
    font-family: "Jost", sans-serif;
    font-size: 12px !important;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: white;
}
@media (max-width:400px) {
    .main_card .cards .card1 .card_img .novinki .one1{
        width: 62px;
        height: 13px;
        gap: 0px;
        border-radius: 2px 0px 0px 0px;   
        background: #62C752;
        font-family: "Jost", sans-serif;
        font-size: 12px;
        font-weight: 600;
        margin: 0px !important;
        line-height: 14px;
        /* display: flex; */
    color: white;
    text-align: center;
        
    }
    .main_card .cards .card1 .card_img .novinki .two2{
        width: 47px;
        height: 15px;   
        background: #7751DA;
        font-family: "Jost", sans-serif;
        font-size: 10px !important;
        font-weight: 600;
        line-height: 14px;
        text-align: left;
        color: white;
    }
    .main_card .cards .card1 .card_img .novinki{
        position: absolute;
        top: -10px;
        right: 5px;
        display: flex;
        justify-content: end;
        z-index: 12;
        align-items: end;
        flex-direction: column;
        }
}
.main_card .cards .card1 .card_img .dinmic{
width: 32px ;
height: 32px;
display: flex;justify-content: center;
align-items: center;
border: 1px solid #D4D4D4;
position: absolute;
bottom:  20px;
left: 0px;
z-index: 123;
}
@media (max-width:400px) {
    .main_card .cards .card1 .card_img .dinmic{
        width: 24px ;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #D4D4D4;
        position: absolute;
        bottom:  20px;
        top: 112px;
        left: 0px;
        z-index: 123;
        }
}
.main_card .cards .card1 .card_img .dinmic img{
    width: 50%;
}
  .main_card  .swiper img{
    width: 100%;
    max-height: 257px;
  }
  .main_card  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main_card  .swiper-slide img {
    display: block;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
  }
  .main_card  .swiper-slide img:hover {
    scale: 1.2;
    cursor: pointer;
  }
  .main_card .cards .card1 .bxs-star{
    color: #D4D4D4;
margin-bottom: 3px;
  } 
  @media (max-width:400px) {
    .main_card .cards .card1 .bxs-star{
        font-size: 10px;
        position: relative;
        top: -10px;
        color: #D4D4D4;
    margin-bottom: 3px;
      } 
  }
  .main_card .cards .card1 h4{
    font-family: "Montserrat", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;
color: #363636;
  }
  @media (max-width:400px) {
    .main_card .cards .card1 h4{
        font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.07px;
        margin-top: 5px;
    text-align: left;
    color: #363636;
    position: relative;
    top: -13px;
    left: 1px;
      }
  }
  .main_card .cards .card1 .mySwiper{
    width: 275px;
    height: 250px;
  }
  @media(max-width:638px){
    .main_card .cards .card1 .mySwiper{
        width: 250px;
        height: auto !important ;
      }
  }
  @media(max-width:585px){
    .main_card .cards .card1 .mySwiper{
        width: 200px;
      }
      .main_card .cards .card1{
        height: auto !important;
        margin-bottom: 12px;
        margin-top: 11px;
      }
  }
  @media(max-width:465px){
    .main_card .cards .card_img{
        /* min-height: 160px; */
        height: 143px;
    }
    .main_card .cards{
        width: 100%;
        margin-top: -3px !important;
        /* margin-top: 10px; */
    }
    .main_card{
        /* width: 95% !important;  */
    }
    .main_card .cards .card1 .mySwiper{
        width: 150px;
      }
  }
  @media(max-width:345px){
    .main_card .cards .card1 .mySwiper{
        width: 130px;
      }
      .main_card .cards .card_img{
        min-height: auto;
        min-height: 140px;
    }
  }
  .main_card .cards .card1 .dostup{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .main_card .cards .card1 .circle{
    background: #5FCC77;
width: 11px;
height: 11px;
border-radius: 50%;
  }
  .main_card .cards .card1 .dostup h3{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
color: #5FCC77;    
  }
  @media (max-width:400px) {
    .main_card .cards .card1 .dostup h3{
        font-family: "Montserrat", sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 17.07px;
        text-align: left;
    color: #5FCC77;    
    position: relative;
    right: 10px;
      }
      .main_card .cards .card1 .circle{
        background: #5FCC77;
    width: 9px;
    height: 9px;
    border-radius: 50%;
      }
      .main_card .cards .card1 .dostup{
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: -21px;
        margin-bottom: 0px;
      }
  }
  .main_card .cards .card1 img{
width: 88%;
  }
  .main_card .cards .card1 .price{
    text-align: center;
    font-family: "Montserrat", sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 29.26px;
margin-top: 5px;
margin-right: 2px;
  }
  .main_card .cards .card1 .del_price{
display: flex;
gap: 10px;
align-items: center;
color: grey;
justify-content: center;

  }
  .main_card .cards .card1 .del_price del{
    font-family: "Montserrat", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
text-align: left;
  }
  .main_card .cards .card1 .del_price span{
    font-family: "Montserrat", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
text-align: left;
color: #EC5D5D;
  }
  .main_card .cards .card1 button{
    width: 90%;
    border: none;
    margin-top: 20px;
    height: 35px;background: #FFF957;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    border-radius: 6px;
    line-height: 14.63px;
color: #242424;  
display: none;  
transition: 1s;
  }
  .main_card .cards .card1 button:hover{
    background: #b3af53;
    cursor: pointer;

  }
  .main_card .cards .card1:hover button{
    display: block;
    cursor: pointer;


  }
  @media (max-width:991px){
    .main_card .cards .card1 button{
        display: block;
        width: 90%;
        margin: auto;
        margin-top: 20px
    }
  }
  @media (max-width:400px){
    .main_card .cards .card1 button{
        display: block;
        width: 90%;
        margin: auto;
        margin-top: 7px;
        margin-right: 10px;
    }
    .main_card .cards .card1 .del_price del{
        font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
      }
      .main_card .cards .card1 .del_price span{
        font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    color: #EC5D5D;
      }
      .main_card .cards .card1 .del_price{
        display: flex;
        gap: 15px;
        align-items: center;
        color: grey;
        justify-content: center;
        margin-top: -2px;
        margin-left: -6px;

          }
  }
  .swiper-pagination-bullet-active{
    border-radius: 0px !important;
    transform: rotate(45deg) !important;
    background: #242424 !important;

  }






.product-more-button{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: none;
    color: #2E8AE6;
    font-weight: 700;
}
.pagerout_mobile1{
    width:100%;
    max-width:300px ;
    height: 40px;
    margin: auto;

    display: flex;  
      align-items: center;
    margin-top: 20px;
    justify-content: center;
}
.pagnation-number{
    /* width: 40px;
    height: 40px; */
    border-bottom: 2px solid white;
    transition: .6s;
    display: flex;
    justify-content: center;
    align-items: center;


    width: 40px;
height:36px;
gap: 0px;
opacity: 0px;

}
.pagnation-number:hover{
    border-bottom: 2px solid #2E8AE6;
    cursor: pointer;
}
.pagnation-arrow{
    width: 40px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
position: relative;
top: 2px;
font-weight: 200 !important;
}
@media (max-width:990px) {
    .product-more-button{
        display: none;
    }
}

@media (max-width:540px) {
    .procuct-card__media_none{
        display: none;
    }
}
.procuct-card__star{
    margin-top: 13px;
    display: flex;
    align-items: center;
    gap: 2px;
}

@media (max-width:340px){
    .footer__mobile-application img{
        height: 27px;
    }}