*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding-top: 205px !important;
}
 .for_all button{
    cursor: pointer;
}
.for_all{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    background: url("Frame 1003.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.for_all .for-all_header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;  
    max-width: 1440px;
    gap: 9px;
}
.for_all .for-all_header p{
    font-size: 14px;
    font-weight: 500 !important;
    margin-bottom: 0;
}
.for_all .for-all_header i{
    font-size: 23px;
}
.for_all h1{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.for_all h4{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.for_all p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.for_all .glav{
  font-size: 54px;
  max-width: 1100px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 60px;
}
.for_all .for_circle h4{
    font-size: 22px;
    line-height: 25px;
}
.for_all .for_circle p{
    line-height: 24px;
}
.for_all .for_circle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1214px;
    width: 100%;
    margin-bottom: 79px;
}
.for_all .with_circle{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 350px;
    gap: 16px;
    width: 100%;
    text-align: center;
}
.for_all .with_circle span{
    color: #0059ff;
    font-weight: 500;
}
.for_all .buy{
    width: 286px;
    height: 45px;
border-radius: 8px;
/* padding: 12px 117px; */
    background: #000;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 11px;
    font-size: 14px;
    transition: 1s;
    border: none;
}
.for_all .buy:hover{
    background: #4b4a4a;

}
.for_all .know{
    border-radius: 8px;
    padding: 12px 90px;
    background: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}
.for_all .know:hover{
    background: #cfcfcf;

}
.for_all .answer_and_questions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1255px;
    width: 100%;
}
.for_all .for-all_title{
    font-weight: 600;
    font-size: 54px;
    text-align: center;
    text-transform: none !important;
    margin-bottom: 30px !important;
}
.for_all .for_circle h4{
  font-size: 22px;
  line-height: 25px;
}
.for_all .for_circle p{
  line-height: 24px;
}
.for_all .for-all_options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #242424;
    width: 100%;
    padding: 8px;
    gap: 8px;
    border-radius: 24px;
    margin-bottom: 20px;
}
.for_all .for-all_one-option{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #313131;
    border-radius: 19px;
    padding: 24px 0px;
    width: 100%;
    text-align: center; 
    color: #fff;
    cursor: pointer;
}
/* .for_all .option__description:hover, .for_all .for-all_one-option:hover{
    
} */
/* .for_all .for-all_one-option p:hover{
    color: black;
} */
/* .for_all .st2{
    background-color: white;
} */
/* .for_all .st3{ 
    color: #000 !important;
} */
.for_all .option__description{
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 600;
}

.for_all .questions{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1186px;
    width: 100%;
    /* gap: 20px; */
    padding: 5px 0px 0px 0px;
    margin-bottom: 15px;
}

.for_all .accordion-item__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 0px 10px 0px !important;
    border-bottom: 1px #a35ee4a1 solid;
}
.for_all .accordion-item__header p{
    font-weight: 500 !important;
    font-size: 20px !important ;
    cursor: pointer;
}
.for_all .accordion-item__header i{
    font-size: 30px;
}
.for_all .contact-info{
    width: 100%;
}
.for_all .contact-info__text{
    font-size: 20px;
}
.for_all .contact-info__text span{
    color: #0059ff;
}

.for_all .accordion {
    width: 80%;
    max-width: 800px;
    margin: 2rem auto;
  }
  
  .for_all .accordion-item {
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .for_all .accordion-header {
    background-color: #f1f1f1;
    padding: 1rem;

  }
  
  .for_all .accordion-content {
    padding: 16px;
    display: none;
  }
  
@media (max-width:991px) {
    .prise-body {
        padding-top: 71px !important;
    } 
}
  @media (max-width:900px) {
   .for_all .for_circle{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 15px;
   }
   .for_all .with_circle{
    max-width: none;
}
  }
  @media (max-width:630px) {
    .for_all .for_circle{
     display: grid;
     grid-template-columns: auto;
     align-items: center;
     justify-content: center;
     gap: 15px;
     margin-bottom: 20px;
    }
    .for_all .for-all_options{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .for_all .questions{
        padding: 0px 20px;
    }
    .for_all .contact-info{
        padding: 0px 20px;
    }
    .for_all .glav{
        font-size: 30px;
        max-width: none;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .for_all .for-all_title{
        font-size: 40px;
        max-width: none;
    }
   }














   .modal_for_balanc{
        width: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #333333b3;
        z-index: 90120;
        display: none;
      }
      .balanc__modal_body{
        width: 100%;
        max-width: 430px;
        min-height: 430px;
        background-color: white;
        border-radius: 12px;
        position: relative;
      }
      @media (max-width:376px) {
        .balanc__modal_body{
          border-radius: 1px;
        }
      }
      .balanc__modal_body .bx-x{
        position: absolute;
        top: 35px;
        right: 30px;
        font-size: 24px;
      }
      .modal_in_body{
        width: 85%;
        margin: auto;
        margin-top: 30px;
      }
      .modal_in_body input{
        width: 100%;
        height: 44px;
        border-radius: 8px;
        margin-bottom: 21px;
        border: 2px solid #b3b3b3;
        padding-left: 10px;
        outline-color: #257ae8;
      }
      .modal_in_body button{
        width: 100%;
        height: 44px;
        border: none;
        background-color: #257ae8;
        border-radius: 8px;
        color: white;
        transition: 1s;
      }
      .modal_in_body button:hover{
        background-color: #30466d;
      }
      .modal_in_body p{
        font-family: "Montserrat", sans-serif;
        font-weight: 400 !important; 
        line-height: 20px;
        font-size: 14px;
      }
      .modal_in_body h2{
        text-align: left;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
      }
      .modal_in_body p{
        margin-top: 20px;
      }
.big_yandex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
      .yandex_smart{
        display: flex;
        gap: 10px;
        align-items: center;
        margin-top: 30px;
        flex-wrap: wrap;
      }
      .yandex_smart span{
        color: #257ae8;
        font-size: 11px;
        line-height: 16px;
      }
      .yandex_smart span{
        font-family: montserrat, Arial, serif;
        /* font-size: 14px; */
        line-height: 1.5;
        font-weight: 400;
        line-height: 20px;
      }
      .bxs-circle{
        font-size: 7px;
        color: rgb(90, 90, 90);
      }
      @media (max-width:418px) {
        .captcha{
            display: none;
        }
        .modal_in_body{
            width: 95%;
        }
      }



     .modal_for_see_shop{
        width: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #333333b3;
        z-index: 90120;
        display: none;
      }
      .modal_body_see_shop{
        width: 100%;
        height: 80vh;
        background-color: white;
        max-width: calc(100% - 60px);
        border-radius: 12px;
  
      }
      .see_shop__body_for_grid{
        display: grid;
  position: relative;

        /* grid-template-columns: 1fr auto; */
      }
      .big_see_shop_heading{
        box-shadow: 0px 0px 2px grey;
      z-index:99990;
      /* background-color: white; */
      }
      .see_shop_header{
        display: flex;
        justify-content: space-between;
        width: 97%;
        margin: auto;
        height: 70px;
        background-color: white;
        align-items: center;

      }
      .see_shop_header h2{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
    
      }
      .see_shop_location{
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;
      }
      .see_shop_location .bx-x{
        margin-left: 40px;
        font-size: 24px;
        font-family: "Montserrat", sans-serif;
      }
      .see_shop_location span{
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        letter-spacing: .5px;
        text-transform: uppercase;
        transition: 1s;
      }
      .see_shop_location span:hover{
        text-decoration: underline;
      }

.Google_Map_for_shop{
  width: 100% !important;
  height: 700px !important;
  border-bottom-left-radius:12px !important;
  border-bottom-right-radius: 12px;
}

.arrow_block{
  width: 56px;
  height: 53px;
  border-radius: 50%;
  background-color: #666;
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
  justify-content: center;
  transition: 1s;

}
.arrow_block_second{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #666;
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
  display: none;
  justify-content: center;
  transition: 1s;
}
.arrow_block_second:hover, .arrow_block:hover{
  background-color: #313131 ;
}
.inputShopAlmaz{
  display: flex;
  align-items: center;
  width: 100%;  height: 48px;

  /* max-width: 500px !important; */

}
.inputShopAlmaz{
  width: 313px;
}
.shop_search_Inp{
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 20px;
  gap: 24px;
  z-index: 322;

}
.inputShopAlmaz input{
  width: 90%;
  height: 40px;
  background-color: rgba(245, 222, 179, 0);
  padding-left: 10px;
  border: none;
  outline: none;
}
.inputShopAlmaz{
  background-color: white;
  padding-left: 10px;
  border-radius: 8px;
  border: 2px solid grey;
  outline-color: #0059ff;
}
.search_shop_Almaz{
  width: 100%;
  max-width: 345px;
  height: 700px;
  background-color: white;
  position: absolute;
  /* display: none; */
  left: -100%;
  box-shadow: 0 0 8px #0000001a;
  transition: 1s;
  border-bottom-left-radius: 12px;
}
.search_shadow{
  width: 100%;
  height: 80px;
  box-shadow: 0 0 8px #0000001a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item_locationAlmaz{
  width: 90%;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: auto;
  margin-top: 10px;
}
.fa-heart-o{
  transition: 1s;
}
.fa-heart-o:hover{
  color: #0059ff;
}
.fa-heart{
  display: none !important;
  color: #0059ff;
}
.faFa_marker{
  height: 32px;
  font-size: 20px;
  width: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item_locationAlmaz span{
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.work_time{
  display: flex;
  align-items: center;
  gap: 10px;
}
.fa-clock-o{
  font-weight: 100;
}
.openBtn__outlined{
  width: 90%;
  margin: auto;
}
.openBtn__outlined button{
  background: none;
  border: 2px solid #257ae8;
  width: 100%;
    line-height: 1.4285714em;
    cursor: pointer;
    color: #257ae8;
    font-size: 14px;
    user-select: none;
    font-weight: 600;
    letter-spacing: 1px;
    height: 40px;
    border-radius: 8px;
    margin-top: 20px;
    transition: 1s;
}
.openBtn__outlined button:hover{
  background-color: #257ae8;
  color: white;
}
.sideBar_AlmazShop{
  box-shadow:   0px  1px 0px rgb(221, 219, 219);
  padding-bottom: 10px;
}
.sideBar_body_big{
  height: 600px;
  overflow: auto;
}
.extra_bx{
  font-size: 24px;
  display: none;
}
.inputShopAlmaz_extra{
  display: none;
}
.pageMap_sideBar_mobile{
  display: none;
}
@media (max-width:768px) {
  .see_shop_location{
    display: none;
  }
  .extra_bx{
    display: block;
 }
 .shop_search_Inp{
  display: none;
 }
 .inputShopAlmaz_extra{
  display: flex;
  width: 98%;
  margin: auto;
  align-items: center;
  margin-bottom: 10px;
 }
 .see_shop_header {
height: 52px; 
}
 .inputShopAlmaz_extra .bx-search{
  font-size: 24px;
 }
 .modal_body_see_shop {
  max-width: calc(100% - 0px);
  border-radius: 1px;
  height: 100vh;
}
.see_shop_header h2{
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: .5px;
}
.pageMap_sideBar_mobile{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* height: 40px; */
}
.pageMap_mobile{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.sideBar_mobile{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideBar_mobile span{
  border-bottom: 2px solid white; 
  height: 30px;
}
.pageMap_mobile span{
  border-bottom: 2px solid white; 
  height: 30px;
}
}
