@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}
.vozvrat_body{
    width: 100vw;
    padding-top: 207px;
    /* display: none; */
}
.background{
    width: 100%;
    height: 494px;
    background: url('/image/e7eb5ef3744613bb91cfdd74eb13cd43.jpeg');
    background-size: cover;
    /* margin-bottom: 5%; */
    background-position-x: 23%;
    /* margin-top: 51px; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}
.background .dom_arr_skup{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 77%;
    margin: auto;
    margin-top: 3px;
}
.background .dom_arr_skup .bx-home-alt{
    font-size: 20px;
}
.dom_arr_skup .bx-chevron-right{
    font-size: 20px;
}
.dom_arr_skup h4{
    font-size: 14px;
    margin-bottom: 0;
}
.back-text-road{
    width: 78%;
    margin:auto;
    margin-top: -20px;
}
  
.back-text-road h1{
    font-family: Montserrat;
font-size: 54px;
font-weight: 700;
line-height: 81px;
text-align: left;

}
.back-text-road p{ 
    font-family: Montserrat;
font-size: 28px;
font-weight: 400;
line-height: 34.13px;
text-align: left;
position: relative;
top: 11px;
width: 44%;
}
.give_back{
    width:95%;
    max-width: 1440px;
    margin: auto;
    text-align: center;
    /* 
    justify-content: center;
    align-items: center; */
    margin: auto;
}
.give_back h1{
    width: 100%;
    font-size: 54px;
    font-weight: 700;
    line-height: 65.83px;
    text-align: center;
    margin-top: 49px;
    /* margin-left: 10px; */
    margin-bottom: 24px;
}

.u123{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 8%;
}

.u1 img{
    width: 152px;
    height: 152px;
    position: relative;
    top: -30px;
    left: 71px;
}
 
.u2 img {
    width: 30%;
    /* height: 120px; */
    position: relative;
    top: -28px;
    left: 7px;
}

.u3 img{
    width:30%;
    /* height: 120px; */
    position: relative;
    top: -28px;
    left: -50px;
}

.u1 h2{
    width: 80%;
    font-size: 19px;
    position: relative;
    left: 103.5px;
    top: -10px;
}
.u2 h2{
    width: 80%;
    font-size: 19px;
    position: relative;
    left: 60px;
    top: -10px;
}
.u3 h2{
    width: 80%;
    font-size: 19px;
    position: relative;
    left: 15.5px;
    top: -10px;
}

.u1 p{
    width: 54%;
    font-size: 12.9px;
    position: relative;
    left: 155px;
    top: -6px;
}
.u2 p{
    width: 55%;
    font-size: 12.9px;
    position: relative;
    left: 108.5px;
    top: -6px;
}
.u3 p{
    width: 55%;
    font-size: 12.9px;
    position: relative;
    left: 64.8px;
    top: 16px;   
}

.get{
    width:95%;
    max-width: 1440px;
    margin: auto;
    text-align: center;
    /* 
    justify-content: center;
    align-items: center; */
    margin: auto;
}
.get h1{
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 700;
    line-height: 65.83px;
    margin-bottom: 20px;
text-align: center;

}

.cordinate{
    width: 86%;
    /* height: 126px; */
    background-color: #f2f2f2;
    margin: auto;
    border-radius: 20px;
    font-size: 19.2px;
    text-align: center;
    margin-bottom: 2.5%;
}
.cordinate br{
    display: none;
}
.cordinate p{
    width: 99%;
    margin: auto;
    padding: 32px;
    margin-left: 10px;
 
    font-family: Montserrat;
font-size: 24px;
font-weight: 400;
line-height: 29.26px;
text-align: center;


}

.q1 img{
    width: 120px;
    height: 120px;
    position: relative;
    top: -28px;
    left: 73px;
}
.q2 img{
    width: 120px;
    height: 120px;
    position: relative;
    top: -28px;
    left: 20px;
}
.q3 img{
    width: 120px;
    height: 120px;
    position: relative;
    top: -28px;
    left: -32px;
}

.q1 h2{
    width: 70%;
    font-size: 18.8px;
    position: relative;
    left: 132px;
    top: -9px;
}
.q2 h2{
    width: 70%;
    font-size: 19px;
    position: relative;
    left: 78.7px;
    top: -9px;
}
.q3 h2{
    width: 60%;
    font-size: 19px;
    position: relative;
    left: 46px;
    top: -10px;
} 
.q1 p{
    width: 54%;
    font-size: 12.8px;
    position: relative;
    left: 163px;
    top: -4.15px;
}
.q2 p{
    width: 55%;
    font-size: 12.9px;
    position: relative;
    left: 108.8px;
    top: -5px;
}
.q3 p{
    width: 55%;
    font-size: 12.9px;
    position: relative;
    left: 56px;
    top: -5px;   
}
.circle-three-number{
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 88%;
    margin: auto;
    gap: 10px;
}
.one-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.one-circle h2{
    font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 29.26px;
text-align: center;
width: 88%;
margin-left: -15px;
}
.one-circle h2 span{
    font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 29.26px;
text-align: center;
color: #257AE8;
text-decoration: underline;
}
.one-circle img{
    margin-bottom: 12px;
    width: 36%;
    position: relative;
    top: -16px;
}
.one-circle p{
    font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
text-align: center;
width: 63%;
position: relative;
    top: 4px;
    left: -7px;

}



.second-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.second-circle h2{
    font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 29.26px;
text-align: center;
width: 88%;
/* margin-left: 18px; */
}
.second-circle h2 span{
    font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 29.26px;
text-align: center;
color: #257AE8;
text-decoration: underline;
}
.second-circle img{
    margin-bottom: 24px;
    width: 35%;
    margin-left: 10px;
}
.second-circle p{
    font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
text-align: center;
width: 63%;
position: relative;
top: 8px;
/* left: 9px; */
}






.third-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.third-circle h2{
    font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 29.26px;
text-align: center;
width: 88%;
margin-left: 31px;
height: 37px;
position: relative;
top: -20px;
}
.third-circle h2 span{
    font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 29.26px;
text-align: center;
color: #257AE8;
text-decoration: underline;
}
.third-circle img{
    /* margin-bottom: 24px; */
    width: 35%;
    margin-left: 27px;
    position: relative;
    top: -47px;
}
.third-circle p{
    font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
text-align: center;
width: 63%;
position: relative;
top: 6px;
left: 15px;
}
.span-under span{
    text-align: center;
    font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 21.94px;
 text-decoration: underline;

}
.span-under{
    margin-top: 19px;
    /* margin-left: 19px; */
}
.line-road{
    /* width: 100%; */
    width: 100%;
    margin-top: 22px;
    margin-bottom: 18px;
    /* max-width: 1000px; */
}
.line-road img{
width: 100%;
}
.sec-circ-2 img{
    position: relative;
    top: 0px;
    /* left: 15px; */
}
.sec-circ-2 p{
    width: 67%;
    margin-left: 23px;
    margin-top: 1px;
}
.sec-circ-2 h2{
    width: 80%;
    margin-left: 10px;
    margin-top: 14px;
}
.sec-circ-2 p span{
    text-decoration: underline;
}

.sec-circ-3 img{
    position: relative;
 
    top: 0px;
    /* left: 5px; */
 
}
.sec-circ-3 p{
    width: 67%;
    margin-left: 2px;
    margin-top: -3px;
}
.sec-circ-3 h2{
    width: 80%;
    /* margin-left: 21px; */
    margin-top: 3px;
}



.sec-circ-4 h2{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    text-align: center;
    width: 70%;
    margin-left: 0px;
    height: 37px;
    position: relative;
    top: 3px;
}
.sec-circ-4 img{
        /* margin-bottom: 24px; */
        width: 35%;
        margin-left: 0px;
        position: relative;
        top: -29px;
}
.sec-circ-4 p{
    position: relative;
    top: 29px;
    left: 0px;
}
.alm1{
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-top: 52px;
    margin-left: 12px;
}
@media (max-width:1360px) {
    .circle-three-number{
        width: 100%;
    }
    /* .get {
    width: 100%;
}
.give_back {
    width: 100%;
}} */
@media (max-width:520px) {
    .dom_arr_skup h4{
        font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 20px;
text-align: left;

    }

}