.karzinka{
    padding-top: 0px !important;
}
.karzinka .nav_kar img{
    padding-top: 20px;
}
.karzinka .nav_kar{
    text-align: center;
    display: flex; 
    justify-content: center;
     align-items: center;
}
.karzinka .text_karzinka{
    text-align: center;
    margin-top: 187px;
  margin-bottom: 52px;
}
.karzinka .text_karzinka h4{
font-family: Montserrat;
font-size: 28px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0.5px;
text-align: center;

}
.karzinka .text_karzinka p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-top: 19px;
    
}
.karzinka .text_karzinka button{
  
   width: 300px;
   height: 52px;
   display: flex;
   
    border-radius: 14px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;


    background: #FFF957;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: center;
    color: #242424;
      border: none;
}


.body_karzinka{
    width: 95%;
    max-width: 1440px;
    display: grid;
    grid-template-columns: auto 445px;
    margin: auto;
    align-items: start;
    margin-top: 49px;
    gap: 29px;
    margin-bottom: -52px;
}

.body_karzinka .app_prod h4{
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-align: left;
    
}
.body_karzinka .app_prod .check_delete{
display: flex; 
justify-content: space-between;
align-items: center;
margin-top: 23px;
}
.body_karzinka .app_prod .check_delete h5{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    letter-spacing: 0.5px;
    display: flex;
    gap: 7px;
    align-items: center !important;
color: #242424;    
}
.body_karzinka .app_prod .check_delete a{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    letter-spacing: 0.5px;
    text-align: left;
text-decoration: none;    
color: #1D6BD1;
border-bottom: 1px dashed;
}
.body_karzinka .app_prod .check_delete input{
width: 21px;
height: 21px;
font-size: 20px;
}
.body_karzinka .kalkulator_shot{
    box-shadow: 0px 0px 15px 0px #0000001A;
    border-radius: 16px;
    padding-bottom: 54px;
}
.body_karzinka .kalkulator_shot .h3 {
display: flex;
justify-content: space-between;
width: 89%;
padding-top: 26px;
margin: auto;
margin-bottom: 4px;
}
.body_karzinka .kalkulator_shot .p {
    display: flex;
    justify-content: space-between;
    width: 88%;
    padding-top: 6px;
    margin: auto; 
    margin-bottom: 5px;
    align-items: center;
    }
    .body_karzinka .kalkulator_shot .p .bx-help-circle {
        font-size: 23px;
        position: relative;
        top: -1px;
        left: 1px;
    }

.body_karzinka .kalkulator_shot .h3 h3{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-align: left;
    
}
.body_karzinka .kalkulator_shot .p p{
 padding: 0px;
 margin: 0px;
   display: flex;align-items: center;
   gap: 10px;
   letter-spacing: 0.3px;
}
.body_karzinka .kalkulator_shot h5{
    font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 19.5px;
letter-spacing: 0.5px;
text-align: left;
width: 89%;margin: auto;
margin-top: 38px;
margin-bottom: -12px;
}
.body_karzinka .kalkulator_shot h5 a{
    text-decoration: none;
    border-bottom: 1px solid dashed;
}

.body_karzinka .kalkulator_shot button{
    margin-top: 50px;
    background: #FFF957;
height: 52px;
width: 90%;
margin-left: 5%;
border: none;
border-radius: 14px;
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 19.5px;


}
.body_karzinka .kalkulator_shot .check_karzinka{
    display: flex;justify-content: center;
    align-items: center;
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
letter-spacing: 0.5px;
text-align: left;
gap: 13px;
margin-top: 18px;
}
.body_karzinka .kalkulator_shot .check_karzinka input{
    width: 16px;
    height: 16px;
   
}
.body_karzinka .line_karzinka{
    height: 1px;
    background-color: #E6E6E6;
    width: 100%;
    margin-top: 18px;
}


.body_karzinka .card_karzinka {
    display: grid;
    grid-template-columns: 40px 205px auto 123px;
    align-items: start;
    margin-top: 10px;
    margin-bottom: -9px;
}
.body_karzinka .card_karzinka  input{
width: 20px;
height: 20px;
}
.body_karzinka .card_karzinka .image_karzinka {
    position: relative;
}
.body_karzinka .card_karzinka .text_karzinka1 h5{
    text-align: center;
    font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 19.5px;
letter-spacing: -1px;
color: #242424;
padding-left: 4px;
padding-top: 3px;
height: 63px;
} 
.body_karzinka .card_karzinka .image_karzinka .skitka_karzinka{
position: absolute;
top: 10px;
left: 13px;
background: #D7BE67;
border-radius: 9px;
width: 43px;
height: 21px;
display: flex;
justify-content: center;
align-items: center;
color: white;
}
.body_karzinka .card_karzinka .input_kamb_karzinka{
    display: grid;
    grid-template-columns: auto 157px;
    width: 90%;
    margin: auto;
    margin-right: 20px;
    max-width: 499px;
    align-items: center;
    gap:16px;
}
.body_karzinka .card_karzinka .input_kamb_karzinka .input_r{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    padding-left: 15px;
    padding-right: 8px;
    height: 48px;
    border-radius: 8px;
}
.body_karzinka .card_karzinka .input_kamb_karzinka .input_r p{
    padding: 0px;
    margin: 0px;

}
.body_karzinka .card_karzinka .input_kamb_karzinka .input_r .bx-pencil{
font-size: 30px;
}
.body_karzinka .card_karzinka .input_kamb_karzinka button{
    background: #F2F2F2;
width: 100%;
height:48px ;
border: none;
border-radius: 7px;
font-family: Montserrat;
font-size: 14px;
font-weight: 600;
line-height: 17.07px;
display: flex;
color: #257AE8;
align-items: center;
justify-content: center;
}
.body_karzinka .card_karzinka .input_kamb_karzinka button p{
    position: relative;
    top: 9px;
}
.body_karzinka .card_karzinka .input_kamb_karzinka button .bx-heart{
    font-size: 21px;
    margin-right: 10px;
}
.body_karzinka .card_karzinka .image_karzinka img{
    width: 100%;
}
.body_karzinka .card_karzinka .text_karzinka1{

}
.body_karzinka .card_karzinka h5{
    font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 19.5px;
letter-spacing: 0.5px;
color:#242424;
}
.body_karzinka .card_karzinka .price_karzinka h5{
text-align: right;
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 21.94px;
letter-spacing: 0.7px;


}
.body_karzinka .card_karzinka .price_karzinka .p{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 11.07px;
    letter-spacing: 0.5px;
    text-align: left;
    display: flex;
}
.body_karzinka .card_karzinka .price_karzinka .span{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.63px;
    letter-spacing: 0.5px;
    text-align: left;
    width:48px;
height:21px;
background: #CC373C;
border-radius: 14px;
color: white;
display: flex;
justify-content: center;
align-items: center;
position: relative;
    top: -5px;
    left: 5px;
}
.body_karzinka .card_karzinka .price_karzinka button{
    background: #F2F2F2;
width: 100%;
height:48px ;
border: none;
border-radius: 7px;
font-family: Montserrat;
font-size: 14px;
font-weight: 600;
line-height: 17.07px;
display: flex;
color: #257AE8;
align-items: center;
justify-content: center;
margin-top: 20px;
}
.body_karzinka .card_karzinka .price_karzinka button .bx-trash{
    font-size: 21px;
    margin-right: 17px;
}
.body_karzinka .app_prod .skitka_karzinka1{
margin-top: 55px;
display: flex;
align-items: center;
}
.body_karzinka .app_prod .skitka_karzinka1 .bx-help-circle{
    position: relative;
    margin-left: 10px;
}
.body_karzinka .app_prod .skitka_karzinka1 .reklamapage{
    font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.5px;
text-align: left;
padding: 10px;
width: 286px;
box-shadow: 0px 0px 10px 0px #0000001A;
position: absolute;
top: -80px;
display: none;
left: -120px;
}
.body_karzinka .line_karzinka2 {
margin-bottom: 29px;
}
.body_karzinka .app_prod .title_ke{
    margin-top: 18px;
    font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0.5px;
text-align: left;
color: #242424;
}
.body_karzinka .app_prod .poluchir_karzinka{
    display: grid;
    grid-template-columns: auto 304px; 
    align-items: stretch;
    margin-top: 14px;
gap: 10px;
    margin-bottom: 55px;
}
.body_karzinka .app_prod .poluchir_karzinka .line_karzinka2{ 
margin-bottom: 29px;
}
.body_karzinka .app_prod .poluchir_karzinka2{
    margin-bottom: 29px;
}
.body_karzinka .app_prod .poluchir_karzinka .xochi_yesho_skitka{
    display: grid;
    align-items: center;
    height: 52px;
   grid-template-columns: auto 250px;
   background: #FFFDBB;
border-radius: 8px;
}
.body_karzinka .app_prod .poluchir_karzinka .xochi_yesho_skitka h3{
padding: 0;
margin: 0px;
font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 32px;
text-align: left;
color: #EBBB40;
padding-left: 10px;
}
.body_karzinka .app_prod .poluchir_karzinka .xochi_yesho_skitka .time_quary{
    padding: 0;
    margin: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    color: #EBBB40;
    letter-spacing: 1.4px;
    /* height: 22px; */
    position: relative;
    margin-top: 1px;
    /* top:-5px; */
    padding-left: 10px;
    border-left: 1px solid grey;
}
.body_karzinka .app_prod .poluchir_karzinka .xochi_yesho_skitka .time_quary .bx-help-circle{
    font-size: 23px;
    position: relative;
    top: 3px;
    left: 3px;
}
.body_karzinka .app_prod .poluchir_karzinka button{
    border: none;
    background: #FFF957;
border-radius: 14px;
height: 52px;
}
.body_karzinka .app_prod .poluchir_karzinka input{
    border-radius: 8px;
    padding-left: 10px;
    border: 1px solid grey;
}
.body_karzinka .app_prod .title_ke .bx-help-circle{
font-size: 23px;
position: relative;
top: 5px;
}
.body_karzinka .app_prod .title_ke .maxsus_img_karsiznda{
margin-right: 7px;
}
.body_karzinka .app_prod .poluchir_karzinka .two_input_karzinka{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.body_karzinka .app_prod .bonus_karzinka{
    display: flex;
    align-items: center;
    height: 48px;
    background: #F2F2F2;
border-radius: 8px;
margin-bottom: 63px;
}
.body_karzinka .app_prod .bonus_karzinka p{
    padding: 0;
    margin: 0;
    padding-left: 10px;
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 34.07px;
text-align: left;

}
.body_karzinka .app_prod .bonus_karzinka p .bx-info-circle{
    color: #242442;
font-size: 25px;
margin-right: 10px;
position: relative;
    top: 8px;
    left: 2px;
}
.body_karzinka .app_prod .bonus_karzinka p a{
text-decoration: none;
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;

}
.body_karzinka .app_prod .dastafka_radio_kar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 29px;
}
.body_karzinka .app_prod .dastafka_radio_kar .dastafka_radio_kar_card input{
width: 20px;
height: 20px;
}
.body_karzinka .app_prod .dastafka_radio_kar .dastafka_radio_kar_card{
    display: grid;
    grid-template-columns: 30px auto;
    align-items: start;
    border: 2px solid #B3B3B3;
    padding:  16px;
    padding-bottom: 0px;
    border-radius: 9px;
}
.body_karzinka .app_prod .dastafka_radio_kar .dastafka_radio_kar_card h5{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    text-align: left;
    
}
.body_karzinka .app_prod .dastafka_radio_kar .dastafka_radio_kar_card p{
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;
color: #808080;
padding-bottom: 0px;
margin-bottom: 10px;
}
.body_karzinka .app_prod .dastefka_almaz{
padding: 21px 26px;
background: #EFEFEF;
border-radius: 12px;
margin-top: 16px;

}
.body_karzinka .app_prod .dastefka_almaz .grid_almaz{
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    align-items: start;
}
.body_karzinka .app_prod .dastefka_almaz .grid_almaz .address_almaz_k{
    display: grid;
    grid-template-columns: 33px auto;
}
.body_karzinka .app_prod .dastefka_almaz .grid_almaz .address_almaz_k h5{
    font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17.07px;
text-align: left;
padding-top: 5px;
display: flex;
gap: 20px;
}
.body_karzinka .app_prod .dastefka_almaz .grid_almaz .address_almaz_k h5 .button{
    background: var(--green-base, #38C793);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    color: white;
    width: 91px;
    height: 21px;
    left: -11px;
    position: relative;
    top: -3px;
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
}
.body_karzinka .app_prod .dastefka_almaz .grid_almaz  p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
color: #242424;  
margin-top: 11px;  
}
.body_karzinka .app_prod .dastefka_almaz .grid_almaz  button{
   border: none;
   height: 56px;
   width: 98%;
}
.body_karzinka .app_prod .dastefka_almaz  a{
    text-decoration: none;
    font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17.07px;
letter-spacing: 0.5px;
text-align: left;
color: #1D6BD1;
margin-left: 30px;
    border-bottom: 1px dashed;
}
.body_karzinka .app_prod .zabit_karzinka{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-align: left;
color: #242424;    
margin-top: 25px;
}
.body_karzinka .app_prod .cards_a_cards{
    display: flex;
    gap: 16px;
}
.body_karzinka .app_prod .cards_a_cards .cards_a_card .cards_a_card_img{
width: 89px;
height: 89px;
border: 1px solid #E6E6E6;
border-radius: 6px;
display: flex;
justify-content: center;
align-items: center;
}
.body_karzinka .app_prod .cards_a_cards .cards_a_card p{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.63px;
    text-align: left;
    color: #898989;
    margin-top: 10px;

}
.body_karzinka .app_prod .cards_a_cards .cards_a_card .cards_a_card_img img{
 width: 100%;
 max-height: 100%;
}
.body_karzinka .app_prod .check_p_karzika{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    letter-spacing: 0.5px;
    text-align: left;
color: #242424;  
margin-top: -3px;  
}
.body_karzinka .app_prod .check_p_karzika input{
width: 20px;
height: 20px;
position: relative;
top: 3px;
margin-right: 2px;
}
.body_karzinka .app_prod .bonus_karzinka_dr a{
padding-left: 34px;
position: relative;
top: -4px;
}
.body_karzinka .app_prod .profile_on_karzinka{
    display: grid;
    max-width: 450px;
    grid-template-columns: 34px auto 30px;
 padding: 20px;   
 margin-top: 30px;
 background: #EFEFEF;
padding-left: 24px;
border-radius: 12px;
}
.body_karzinka .app_prod .profile_on_karzinka h5{
    font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17.07px;
text-align: left;
padding-top: 1px;

}
.body_karzinka .app_prod .profile_on_karzinka h6{
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;

}

.body_karzinka .app_prod .profile_on_karzinka p{
    font-family: Montserrat;
font-size: 12px;
font-weight: 400;
color: #848484;
padding: 0px;
margin: 0px;
line-height: 20px;
text-align: left;
margin-top: 15px;

}
.body_karzinka .app_prod .profile_on_karzinka .bx-pencil{
    font-size: 23px;
    color: #257AE8;

}
.body_karzinka .app_prod .dastafka_radio_kar_dr{

}
.body_karzinka .app_prod .dastafka_radio_kar_dr .dastafka_radio_kar_card{
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.body_karzinka .app_prod .dastafka_radio_kar_dr .dastafka_radio_kar_card h5{
    padding: 0px;
    margin: 0px;
    font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
letter-spacing: 0.5px;
text-align: left;
position: relative;
top: 2px;
}
