.karzinka{
    padding-top: 0px !important;
    width: 100vw;
    overflow-x: hidden;
}
.karzinka .nav_kar img{
    padding-top: 20px;
}
.karzinka .nav_kar{
    text-align: center;
    display: flex; 
    justify-content: center;
     align-items: center;
}


.karzinka .text_karzinka{
    text-align: center;
    margin-top: 187px;
  margin-bottom: 52px;
}

.karzinka .text_karzinka h4{
font-family: Montserrat;
font-size: 28px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0.5px;
text-align: center;

}

.kalkulator_shot .p{
    border-bottom: 1px dashed grey;
}
.kalkulator_shot .p p{
border-bottom: 5px solid white !important;

}
@media(max-width:991px){
   .karzinka .nav_kar img{
    width: 163px;
    position: relative;
    top: -8px;
}
.karzinka .navbarAlmaz__mobile{
    box-shadow: none !important;
    position: relative;
    z-index: 1;
}
.karzinka .nav_kar{
    text-align: center;
    display: flex; 
    justify-content: center;
     align-items: center;
     box-shadow: 0px 0px 15px 0px #0000001A;

}
.karzinka .text_karzinka{
    text-align: center;
    margin-top: 114px;
  margin-bottom: 100px;
} 
.karzinka .text_karzinka h4{
    font-size: 24px;
}
}
.karzinka .text_karzinka p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-top: 19px;
    
}
.karzinka .text_karzinka button{
  
   width: 300px;
   height: 52px;
   display: flex;
   
    border-radius: 14px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;


    background: #FFF957;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: center;
    color: #242424;
      border: none;
}


.body_karzinka{
    width: 95%;
    max-width: 1440px;
    display: grid;
    grid-template-columns: auto 445px;
    margin: auto;
    align-items: start;
    margin-top: 49px;
    gap: 29px;
    margin-bottom: -52px;
}
.body_karzinka .app_prod{
    display: grid;
    grid-template-columns: auto;
}
.body_karzinka .app_prod h4{
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-align: left;
    
}
.body_karzinka .app_prod .check_delete{
display: flex; 
justify-content: space-between;
align-items: center;
margin-top: 17px;
}
.body_karzinka .app_prod .check_delete h5{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    letter-spacing: 0.5px;
    display: flex;
    gap: 7px;
    align-items: center !important;
color: #242424;    
}
.body_karzinka .app_prod .check_delete a{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    letter-spacing: 0.5px;
    text-align: left;
text-decoration: none;    
color: #1D6BD1;
border-bottom: 1px dashed;
}
.body_karzinka .app_prod .check_delete input{
width: 21px;
height: 21px;
font-size: 20px;
}
.body_karzinka .kalkulator_shot{
    box-shadow: 0px 0px 15px 0px #0000001A;
    border-radius: 16px;
    padding-bottom: 54px;
}
.body_karzinka .kalkulator_shot .h3 {
display: flex;
justify-content: space-between;
width: 89%;
padding-top: 26px;
margin: auto;
margin-bottom: 4px;
}
.body_karzinka .kalkulator_shot .p {
    display: flex;
    justify-content: space-between;
    width: 88%;
    padding-top: 6px;
    margin: auto; 
    margin-bottom: 5px;
    align-items: center;
    }
    .body_karzinka .kalkulator_shot .p .bx-help-circle {
        font-size: 23px;
        position: relative;
        top: -1px;
        left: 1px;
    }

.body_karzinka .kalkulator_shot .h3 h3{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-align: left;
    
}
.body_karzinka .kalkulator_shot .p p{
 padding: 0px;
 margin: 0px;
   display: flex;align-items: center;
   gap: 10px;
   letter-spacing: 0.3px;
}
.body_karzinka .kalkulator_shot h5{
    font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 19.5px;
letter-spacing: 0.5px;
text-align: left;
width: 89%;margin: auto;
margin-top: 38px;
margin-bottom: -12px;
}
.body_karzinka .kalkulator_shot h5 a{
    text-decoration: none;
    border-bottom: 1px solid dashed;
}

.body_karzinka .kalkulator_shot button{
    margin-top: 50px;
    background: #FFF957;
height: 52px;
width: 90%;
margin-left: 5%;
border: none;
border-radius: 14px;
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 19.5px;


}
.body_karzinka .kalkulator_shot .check_karzinka{
    display: grid;
    align-items: start;
    grid-template-columns: 30px auto;
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
letter-spacing: 0.5px;
text-align: left;
max-width: 330px;
width: 94%;
margin: auto;
margin-top: 18px;
}
.body_karzinka .kalkulator_shot .check_karzinka input{
    width: 16px;
    height: 16px;
   
}
.body_karzinka .line_karzinka{
    height: 1px;
    background-color: #E6E6E6;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 21px;
}


.body_karzinka .card_karzinka {
    display: grid;
    grid-template-columns: 40px 205px auto 123px;
    align-items: start;
    margin-top: 10px;
    margin-bottom: -9px;
}
.body_karzinka .card_karzinka  input{
width: 20px;
height: 20px;
}
.body_karzinka .card_karzinka .image_karzinka {
    position: relative;
}
.body_karzinka .card_karzinka .text_karzinka1 h5{
    text-align: center;
    font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 19.5px;
letter-spacing: -1px;
color: #242424;
padding-left: 4px;
padding-top: 3px;
height: 63px;
} 
.body_karzinka .card_karzinka .image_karzinka .skitka_karzinka{
position: absolute;
top: 10px;
left: 13px;
background: #D7BE67;
border-radius: 9px;
width: 43px;
height: 21px;
display: flex;
justify-content: center;
align-items: center;
color: white;
}
.body_karzinka .card_karzinka .input_kamb_karzinka{
    display: grid;
    grid-template-columns: auto 157px;
    width: 90%;
    margin: auto;
    margin-right: 20px;
    max-width: 499px;
    align-items: center;
    gap:16px;
}
.body_karzinka .card_karzinka .input_kamb_karzinka .input_r{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    padding-left: 15px;
    padding-right: 8px;
    height: 48px;
    border-radius: 8px;
}
.body_karzinka .card_karzinka .input_kamb_karzinka .input_r p{
    padding: 0px;
    margin: 0px;

}
.check_karzinka33{
    display: none;
}
.nnere{
    display: none;
}
.body_karzinka .card_karzinka .input_kamb_karzinka .input_r .bx-pencil{
font-size: 30px;
}
.body_karzinka .card_karzinka .input_kamb_karzinka button{
    background: #F2F2F2;
width: 100%;
height:48px ;
border: none;
border-radius: 7px;
font-family: Montserrat;
font-size: 14px;
font-weight: 600;
line-height: 17.07px;
display: flex;
color: #257AE8;
align-items: center;
justify-content: center;
}
.body_karzinka .card_karzinka .input_kamb_karzinka button p{
    position: relative;
    top: 9px;
}
.body_karzinka .card_karzinka .input_kamb_karzinka button .bx-heart{
    font-size: 21px;
    margin-right: 10px;
}
.body_karzinka .card_karzinka .image_karzinka img{
    width: 100%;
}
.body_karzinka .card_karzinka .text_karzinka1{

}
.body_karzinka .card_karzinka h5{
    font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 19.5px;
letter-spacing: 0.5px;
color:#242424;
}
.body_karzinka .card_karzinka .price_karzinka h5{
text-align: right;
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 21.94px;
letter-spacing: 0.7px;


}
.body_karzinka .card_karzinka .price_karzinka .p{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 11.07px;
    letter-spacing: 0.5px;
    text-align: left;
    display: flex;
}
.body_karzinka .card_karzinka .price_karzinka .span{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.63px;
    letter-spacing: 0.5px;
    text-align: left;
    width:48px;
height:21px;
background: #CC373C;
border-radius: 14px;
color: white;
display: flex;
justify-content: center;
align-items: center;
position: relative;
    top: -5px;
    left: 5px;
}
.body_karzinka .card_karzinka .price_karzinka button{
    background: #F2F2F2;
width: 100%;
height:48px ;
border: none;
border-radius: 7px;
font-family: Montserrat;
font-size: 14px;
font-weight: 600;
line-height: 17.07px;
display: flex;
color: #257AE8;
align-items: center;
justify-content: center;
margin-top: 20px;
}
.body_karzinka .card_karzinka .price_karzinka button .bx-trash{
    font-size: 21px;
    margin-right: 17px;
}
.body_karzinka .app_prod .skitka_karzinka1{
margin-top: 44px;
display: flex;
align-items: center;
}
.body_karzinka .app_prod .skitka_karzinka1 .bx-help-circle{
    position: relative;
    margin-left: 10px;
}
.body_karzinka .app_prod .skitka_karzinka1 .navbarAlmaz__reklamapage{
    font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.5px;
text-align: left;
padding: 10px;
width: 286px;
box-shadow: 0px 0px 10px 0px #0000001A;
position: absolute;
top: -80px;
display: none;
left: -120px;
}
.body_karzinka .line_karzinka2 {
margin-bottom: 29px;
}
.body_karzinka .app_prod .title_ke{
    margin-top: 6px;
    margin-bottom: 3px;
    font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0.5px;
text-align: left;
color: #242424;
}
.body_karzinka .app_prod .poluchir_karzinka{
    display: grid;
    grid-template-columns: auto 304px; 
    align-items: stretch;
    margin-top: 14px;
gap: 10px;
    margin-bottom: 55px;
}

.body_karzinka .app_prod .poluchir_karzinka .line_karzinka2{ 
margin-bottom: 29px;
}
    .body_karzinka .app_prod .poluchir_karzinka2{
    margin-bottom: 29px;
}
.body_karzinka .app_prod .poluchir_karzinka .xochi_yesho_skitka{
    display: grid;
    align-items: center;
    height: 52px;
   grid-template-columns: auto 250px;
   background: #FFFDBB;
border-radius: 8px;
}
.body_karzinka .app_prod .poluchir_karzinka .xochi_yesho_skitka h3{
padding: 0;
margin: 0px;
font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 32px;
text-align: left;
color: #EBBB40;
padding-left: 10px;
}
.body_karzinka .app_prod .poluchir_karzinka .xochi_yesho_skitka .time_quary{
    padding: 0;
    margin: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    color: #EBBB40;
    letter-spacing: 1.4px;
    /* height: 22px; */
    position: relative;
    margin-top: 1px;
    /* top:-5px; */
    padding-left: 10px;
    border-left: 1px solid grey;
}
.body_karzinka .app_prod .poluchir_karzinka .xochi_yesho_skitka .time_quary .bx-help-circle{
    font-size: 23px;
    position: relative;
    top: 3px;
    left: 3px;
}
.body_karzinka .app_prod .poluchir_karzinka button{
    border: none;
    background: #FFF957;
border-radius: 14px;
height: 52px;
}
.body_karzinka .app_prod .poluchir_karzinka input{
    border-radius: 8px;
    padding-left: 10px;
    border: 1px solid grey;
}
.body_karzinka .app_prod .title_ke .bx-help-circle{
font-size: 23px;
position: relative;
top: 5px;
}
@media (max-width:801px) {
    .body_karzinka .app_prod .title_ke{
        margin-top: 18px;
    font-size: 18px;
    }
    .body_karzinka .app_prod .poluchir_karzinka{
        display: grid;
        grid-template-columns: auto; 
        align-items: stretch;
        margin-top: 14px;
        gap: 10px;
        margin-bottom: 55px;
    }  
    .body_karzinka .app_prod .poluchir_karzinka2{
        display: grid;
       
        grid-template-columns: auto 152px; 
    }
    .title_ke_801px{
        display: none !important;
    }
    .title_ke122{
        margin-top: 17px;
        margin-bottom: 2px;
    }
    .body_karzinka .app_prod .poluchir_karzinka2 input{
        font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 14.63px;
letter-spacing: 0.5px;
text-align: left;
height: 43px !important;

    }
    .body_karzinka .app_prod .poluchir_karzinka2 button{
        font-family: Montserrat;
font-size: 12px;
font-weight: 500;
line-height: 14.63px;

    }
    .bonus_810px{
        padding-top: 21px;
        padding-bottom: 10px;
    }
    .body_karzinka .app_prod .poluchir_karzinka3{
       margin-top: 5px;
       margin-bottom: 10px;
    }
    .body_karzinka .app_prod .poluchir_karzinka input{
        height: 52px;
    }
    .body_karzinka .app_prod .poluchir_karzinka .xochi_yesho_skitka h3{
        font-size: 12px;
        color: #1D6BD1;
        padding-left: 10px;
        }
        .body_karzinka .app_prod .poluchir_karzinka .xochi_yesho_skitka .time_quary{
            font-size: 12px;
            color: #1D6BD1;
            border-color: white;
            display: flex;align-items: center;
        }
        .body_karzinka .app_prod .poluchir_karzinka .xochi_yesho_skitka .time_quary .bx-help-circle{
            font-size: 23px;
            position: relative;
            top: -3px;
            color: white;
            left: 3px;
        }
        .body_karzinka .app_prod .poluchir_karzinka .xochi_yesho_skitka{
            background: #ABCFFF;
display: grid;
grid-template-columns: 1fr 1fr;
        }
}
.body_karzinka .app_prod .title_ke .maxsus_img_karsiznda{
margin-right: 7px;
}
.body_karzinka .app_prod .poluchir_karzinka .two_input_karzinka{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
@media (max-width:600px){
    .body_karzinka .app_prod .poluchir_karzinka .two_input_karzinka{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    } 
}

.body_karzinka .app_prod .bonus_karzinka{
    display: grid;
    grid-template-columns: 30px auto ;
    min-height: 48px;
    background: #F2F2F2;
border-radius: 8px;
padding: 10px 10px;
margin-bottom: 63px;
}
.body_karzinka .app_prod .bonus_karzinka p{
    padding: 0;
    margin: 0;
    padding-left: 10px;
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 18.07px;
text-align: left;

}
.body_karzinka .app_prod .bonus_karzinka  .bx-info-circle{
    color: #242442;
font-size: 25px;
margin-right: 10px;
position: relative;
margin-left: 5px;
    height: 100%;

}
.body_karzinka .app_prod .bonus_karzinka p a{
text-decoration: none;
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;

}
.body_karzinka .app_prod .dastafka_radio_kar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 29px;
}
.body_karzinka .app_prod .dastafka_radio_kar .dastafka_radio_kar_card input{
width: 20px;
height: 20px;
}
.body_karzinka .app_prod .dastafka_radio_kar .dastafka_radio_kar_card{
    display: grid;
    grid-template-columns: 30px auto;
    align-items: start;
    border: 2px solid #B3B3B3;
    padding:  16px;
    padding-bottom: 0px;
    border-radius: 9px;
}
.body_karzinka .app_prod .dastafka_radio_kar .dastafka_radio_kar_card h5{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    text-align: left;
    
}
.body_karzinka .app_prod .dastafka_radio_kar .dastafka_radio_kar_card p{
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;
color: #808080;
padding-bottom: 0px;
margin-bottom: 10px;
}
.body_karzinka .app_prod .dastefka_almaz{
padding: 21px 26px;
background: #EFEFEF;
border-radius: 12px;
margin-top: 16px;

}
.body_karzinka .app_prod .dastefka_almaz .grid_almaz{
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    align-items: start;
}



.body_karzinka .app_prod .dastefka_almaz .grid_almaz .address_almaz_k{
    display: grid;
    grid-template-columns: 33px auto;
}
.body_karzinka .app_prod .dastefka_almaz .grid_almaz .address_almaz_k h5{
    font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17.07px;
text-align: left;
padding-top: 5px;
display: flex;
gap: 20px;
}
.body_karzinka .app_prod .dastefka_almaz .grid_almaz .address_almaz_k h5 .button{
    background: var(--green-base, #38C793);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
    line-height: 16px;
    text-align: center;
    color: white;
    width: 91px;
    height: 21px;
    left: -11px;
    position: relative;
    top: -3px;
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
}
.body_karzinka .app_prod .dastefka_almaz .grid_almaz  p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
color: #242424;  
margin-top: 11px;  
}
.body_karzinka .app_prod .dastefka_almaz .grid_almaz  button{
   border: none;
   height: 56px;
   width: 98%;
}
@media(max-width:650px){
    .body_karzinka .app_prod .dastefka_almaz .grid_almaz{
        display: grid;
        grid-template-columns: 1fr ;
        align-items: start;
    }
    .body_karzinka .app_prod .dastefka_almaz .grid_almaz  button{
        background: #FFF957;
border-radius: 14px;
     }
}
.body_karzinka .app_prod .dastefka_almaz  a{
    text-decoration: none;
    font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17.07px;
letter-spacing: 0.5px;
text-align: left;
color: #1D6BD1;
margin-left: 30px;
    border-bottom: 1px dashed;
}
.body_karzinka .app_prod .zabit_karzinka{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-align: left;
color: #242424;    
margin-top: 25px;
}
.body_karzinka .app_prod .cards_a_cards{
    display: flex;
    gap: 16px;
}
.body_karzinka .app_prod .cards_a_cards .cards_a_card .cards_a_all_product_body_cards__card_img{
width: 89px;
height: 89px;
border: 1px solid #E6E6E6;
border-radius: 6px;
display: flex;
justify-content: center;
align-items: center;
}
.body_karzinka .app_prod .cards_a_cards .cards_a_card p{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.63px;
    text-align: left;
    color: #898989;
    margin-top: 10px;

}
.body_karzinka .app_prod .cards_a_cards .cards_a_card .cards_a_all_product_body_cards__card_img img{
 width: 100%;
 max-height: 100%;
}
.body_karzinka .app_prod .check_p_karzika{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    letter-spacing: 0.5px;
    text-align: left;
color: #242424;  
margin-top: -3px;  
}
.body_karzinka .app_prod .check_p_karzika input{
width: 20px;
height: 20px;
position: relative;
top: 3px;
margin-right: 2px;
}
.body_karzinka .app_prod .bonus_karzinka_dr a{
/* padding-left: 34px; */
position: relative;
top: -4px;
}
.body_karzinka .app_prod .profile_on_karzinka{
    display: grid;
    max-width: 450px;
    grid-template-columns: 34px auto 30px;
 padding: 20px;   
 margin-top: 30px;
 background: #EFEFEF;
padding-left: 24px;
border-radius: 12px;
}
.body_karzinka .app_prod .profile_on_karzinka h5{
    font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17.07px;
text-align: left;
padding-top: 1px;

}
.body_karzinka .app_prod .profile_on_karzinka h6{
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;

}

.body_karzinka .app_prod .profile_on_karzinka p{
    font-family: Montserrat;
font-size: 12px;
font-weight: 400;
color: #848484;
padding: 0px;
margin: 0px;
line-height: 20px;
text-align: left;
margin-top: 15px;

}
.body_karzinka .app_prod .profile_on_karzinka .bx-pencil{
    font-size: 23px;
    color: #257AE8;

}

.body_karzinka .app_prod .dastafka_radio_kar_dr .dastafka_radio_kar_card{
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.body_karzinka .app_prod .dastafka_radio_kar_dr .dastafka_radio_kar_card h5{
    padding: 0px;
    margin: 0px;
    font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
letter-spacing: 0.5px;
text-align: left;
position: relative;
top: 2px;
}

@media (max-width: 1340px) {
    .body_karzinka {
      display: grid;
      grid-template-columns: auto 400px;
    }
  }
  @media (max-width: 1270px) {
    .body_karzinka {
      display: grid;
      grid-template-columns: auto 350px;
    }
    .body_karzinka .card_karzinka {
        display: grid;
        grid-template-columns: 40px 0.5fr 2fr 130px;
        align-items: start;
        margin-top: 10px;
        margin-bottom: -9px;
    }
  }
  .body_karzinka .displaynone_meidia {
    display: none;
  }
@media (max-width: 991px) {
    .your-div-class {
      order: -1;
    }
    .body_karzinka {
        display: grid;
        grid-template-columns: auto;
      }
      .body_karzinka .app_prod .displaynone{
        width: 99%;
        display: none;
    }
    .body_karzinka .displaynone_meidia {
        display: block;
      }
      .body_karzinka .app_prod .skitka_karzinka1 {
        display: none;
      }
      .body_karzinka .app_prod .title_ke12 {
display: none;
      }
  }
  
  @media (max-width:820px){
    .body_karzinka .app_prod .dastafka_radio_kar{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        margin-top: 29px;
    }
    .body_karzinka {
        width: 100%;
        max-width: 1440px;
        margin: auto;
        align-items: start;
        margin-top: 10px;
        gap: 29px;
        margin-bottom: 0;
    }
    .body_karzinka .app_prod .poluchir_karzinka .xochi_yesho_skitka {
        height: 46px;
    }
    .body_karzinka .app_prod .poluchir_karzinka button {
        height: 44px;
    }
      .body_karzinka .app_prod .karzinka_title{
margin: auto;
margin-top: -43px;
width: 90%;
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 27px;
text-align: left;

      } 
      .body_karzinka .app_prod .check_delete{
        width: 90%;
        margin: auto;
        margin-top: -7px;
      }
      .body_karzinka .app_prod .check_delete a{
        font-family: Montserrat;
font-size: 12px;
font-weight: 500;
line-height: 14.63px;
letter-spacing: 0.5px;
text-align: left;

      }
      .body_karzinka .line_karzinka {
       width: 95%;
       margin: auto;
        margin-top: 4px;
    }
 
  }
   .body_karzinka .displaynone_meidia .t_22{
        position: absolute;
        top: 7px;
        left: 10px;
        width: 40px;
        border-radius: 9px;
        height: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #D7BE67;
color: white;
        font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 14.63px;
letter-spacing: 0.5px;
text-align: left;

    }
  .displaynone_meidia .card_media_karzinka{
display: grid;
grid-template-columns: 110px auto;
width: 95%;

margin: auto;
margin-bottom: 14px;
/* margin: auto; */
gap: 10px;
  }
  .displaynone_meidia .card_media_karzinka .card_media_img_karzinka {
    position: relative;

  }
  .displaynone_meidia .card_media_karzinka .card_media_img_karzinka img{
width: 100%;
 
}
.displaynone_meidia .card_media_karzinka .card_media_text_karzinka {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}
.displaynone_meidia .card_media_karzinka .card_media_text_karzinka input{
position: absolute;
right: 10px;
top: 10px;
width: 20px;
height: 20px;
}
 .displaynone_meidia .card_media_karzinka .card_media_text_karzinka h6{
    text-align: left;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 21.94px;
    letter-spacing: 0.7px;
    margin-bottom: 25px;
    margin-top: 13px;
    max-width: 90%;
    }
   .displaynone_meidia .card_media_karzinka .card_media_text_karzinka .p{
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 400;
        line-height: 11.07px;
        letter-spacing: 0.5px;
        text-align: left;
        display: flex;
    }
   .displaynone_meidia .card_media_karzinka .card_media_text_karzinka .span{
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.63px;
        letter-spacing: 0.5px;
        text-align: left;
        width:48px;
    height:21px;
    background: #CC373C;
    border-radius: 14px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
        top: -5px;
        left: 5px;
    }
    .displaynone_meidia .card_media_karzinka .card_media_text_karzinka .input_r{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid grey;
        padding-left: 15px;
        padding-right: 8px;
        height: 48px;
        border-radius: 8px;
        margin-top: 4px;
    }
    .displaynone_meidia .card_media_karzinka .card_media_text_karzinka .input_r p{
        padding: 0px;
        margin: 0px;
    
    }
    
    
    .displaynone_meidia .card_media_karzinka .card_media_text_karzinka .input_r .bx-pencil{
    font-size: 30px;
    }
    .displaynone_meidia .card_media_karzinka .buttons{
        display: flex;
        display: flex;
        gap: 3px;
        /* display: flex; */
        justify-content: space-around;
        gap: 1px;
        margin-top: 7px;
    }
    .displaynone_meidia .card_media_karzinka .buttons i{
        position: relative;
        top: -2px;
    }
    .displaynone_meidia .card_media_karzinka .buttons button{
        width: 48px;
        height:48px;
        padding: 12px 10px 12px 10px;
    border-radius: 7px;
        opacity: 0px;
        background: #F2F2F2;
border: none;
color: #408BEB;
font-size: 24px;

    }
@media(max-width:700px){
/* .body_karzinka .app_prod .title_ke{
    margin-top: -7px;
} */
.body_karzinka .app_prod .bonus_karzinka .bx-info-circle {
    color: #242442;
    font-size: 25px;
    /* margin-right: 10px; */
    position: relative;
    margin-left: 4px;
    margin-top: 4px;
    height: 100%;
}
.body_karzinka .app_prod .bonus_karzinka_for_media p {
    position: relative;
    top: 1px;
    left: -5px;
    width: 90%;
}
.body_karzinka .app_prod .bonus_karzinka_for_media {
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: 28px auto;
    min-height: 48px;
    /* background: #F2F2F2; */
    border-radius: 8px;
    padding: 14px 8px;
    margin-bottom: 17px;
}
.bonus_karzinka{
margin-bottom: 25px !important;

}
.check_delete h5 span{
    font-family: Montserrat;
font-size: 14px !important;
font-weight: 400;
line-height: 17.07px;
letter-spacing: 0.5px;
text-align: left;

}
.body_karzinka .app_prod .karzinka_title {
    margin: auto;
    margin-top: -43px;
    width: 93%;
}
.body_karzinka .app_prod .check_delete h5 {
 
    gap: 3px;
}
.displaynone_meidia .card_media_karzinka .card_media_text_karzinka h6 {
    text-align: left;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    line-height: 21.94px;
    letter-spacing: 0.7px;
    margin-bottom: 25px;
    margin-top: 13px;
    max-width: 90%;
    position: relative;
    left: -4px;
}
.card_media_text_karzinka h5{
    font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 21.94px;
letter-spacing: 0.5px;
text-align: left;
position: relative;
left: -6px;
top: 3px;
}
.displaynone_meidia .card_media_karzinka .card_media_text_karzinka .p {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 11.07px;
    letter-spacing: 0.5px;
    text-align: left;
    display: flex;
    align-items: center;
}
.p p{
    position: relative;
    top: 3px;
    left: -4px;
}
.displaynone_meidia .card_media_karzinka .card_media_text_karzinka .input_r {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    padding-left: 7px;
    padding-right: 8px;
    height: 48px;
    border-radius: 8px;
    margin-top: 4px;
}
.displaynone_meidia .card_media_karzinka .buttons {
    display: flex;
    display: flex;
    gap: 3px;
    /* display: flex; */
    justify-content: space-around;
    gap: 1px;
    margin-top: 10px;
}

.displaynone_meidia .card_media_karzinka {
    display: grid;
    grid-template-columns: 110px auto;
    width: 95%;
    margin: auto;
    margin-bottom: 8px;
    /* margin: auto; */
    gap: 10px;
}
.body_karzinka .app_prod .poluchir_karzinka3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.body_karzinka .app_prod .title_ke {
    margin-top: 22px;
    font-size: 18px;
}
.body_karzinka .app_prod h4{
    font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0.5px;
text-align: left;
width: 92%;
margin: auto;
}
.body_karzinka .app_prod .dastafka_radio_kar {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 92%;
    margin: auto;
    margin-top: 11px !important;
}
.body_karzinka .app_prod .dastefka_almaz {
    padding: 22px 6px;
    background: #EFEFEF;
    border-radius: 12px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.body_karzinka .app_prod .dastefka_almaz .grid_almaz .address_almaz_k {
  
    margin-left: 4px;
}
.body_karzinka .app_prod .dastefka_almaz .grid_almaz .address_almaz_k h5 {
    padding-top: 0px; 
}
.body_karzinka .app_prod .dastefka_almaz .grid_almaz .address_almaz_k .nnere2{
    display: none;
    
}
.body_karzinka .app_prod .dastefka_almaz .grid_almaz .address_almaz_k h5 .button {
    background: var(--green-base, #38C793);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    min-width: 90px;
    line-height: 16px;
    text-align: center;
    color: white;
    width: 91px;
    height: 21px;
    left: -11px;
    position: relative;
    top: 4px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -1px;
}
.nnere{
    display: block;
    margin-top: 3px !important;
    text-align: left;
    margin-left: 36px;

}
.body_karzinka .app_prod .dastefka_almaz .grid_almaz button {
    background: #FFF957;
    border-radius: 14px;
    font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17.07px;
margin-top: -12px;
position: relative;
left: 4px;
}
.karbonus1{
    margin-top: 9px;
    position: relative;
    top: 1px;
    left: -5px;
    width: 100%;

}
/* .body_karzinka .line_karzinka{
    margin-bottom: -2px;
} */
 .body_karzinka .app_prod .dastefka_almaz a{
    position: relative;
    left: 7px;
    top: -22px;
 }
 .body_karzinka .app_prod .zabit_karzinka{
    font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0.5px;
text-align: left;
width: 92%;
margin: auto;
margin-top: -12px;
 }
 .body_karzinka{
    margin-top: 9px;

 }
 .bonus_karzinka_for_media{
    margin-top: 9px !important;

 }
 
 .body_karzinka .app_prod .bonus_karzinka_for_media .bx-info-circle {
    color: #242442;
    font-size: 25px;
    /* margin-right: 10px; */
    position: relative;
    margin-left: 1px !important;
    margin-top: 6px !important;
    height: 100%;
}
 .body_karzinka .app_prod  .card121{
   
        display: flex;
        gap: 12px;
        margin-top: -13px !important;
        margin-left: 17px !important;
 
}
.body_karzinka .app_prod .zabit_karzinka {
    margin-top: -8px !important;
}
.karbonus1 {
    margin-top: 12px !important;
    /* padding-left: 11px !important; */
    width: 90%;
    margin: auto;
}
.class_for_media_card{
    display: flex;
    gap: 25px !important;
    margin-left: 15px !important;
    margin-top: -6px !important;
}
.check_p_karzika{
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
letter-spacing: 0.5px;
text-align: left;
display: flex;
align-items: center;
gap: 1px;
width: 90%;
margin: auto;
}
.media-payment-body_1{
   
        font-family: Montserrat;
        font-size: 33px !important;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0.5px;
        text-align: left;
        width: 92%;
        margin: auto;
        margin-top: 12px !important;
        margin-bottom: 5px !important;
   
}
.radio-for-media{
    height: 108px;
}
.radio-for-media1{
    height: 125px;
}
.radio-for-media2{
    height: 91px;
}
.najmi{
    height: 100px !important;
    width: 90%;
    margin: auto;
}
.najmi  .bx-info-circle {
    color: #242442;
    font-size: 25px;
    /* margin-right: 10px; */
    position: relative;
    margin-left: 0px !important;
    margin-top: 4px !important;
    height: 100%;
}
.najmi p {
    padding: 0;
    margin: 0;
    padding-left: 0px !important;
    position: relative;
    left: 1px;
    top: 4px;
    /* margin-top: 10px; */
    font-size: 14px;
    font-weight: 400;
    line-height: 18.07px;
    text-align: left;
}
.najmi p a{
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    /* margin-top: 15px; */
    position: relative;
    top: 6px !important;
}
.line_for_med{
    margin-top: -8px !important;
}
.med-h4{
    margin-top: 4px !important;
}
.body_karzinka .app_prod .profile_on_karzinka {
    display: grid;
    max-width: 450px;
    grid-template-columns: 34px auto 30px;
    padding: 17px;
    margin-top: 24px;
    background: #EFEFEF;
    padding-left: 24px;
    border-radius: 12px;
    width: 90%;
    margin: auto;
    margin-top: 24px;
}

.body_karzinka .app_prod .profile_on_karzinka h5 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    text-align: left;
    padding-top: 14px;
}
.body_karzinka .app_prod .profile_on_karzinka img{
    margin-top: 6px !important;
}
.body_karzinka .app_prod .profile_on_karzinka .bx-pencil {
    font-size: 23px;
    color: #257AE8;
    margin-top: 7px;
}
.element_style {
    margin-top: 4px !important;
    margin-bottom: 0px;
}
.body_karzinka .app_prod .dastafka_radio_kar_dr .dastafka_radio_kar_card {
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin-top: 13px;
    /* height: 45px; */
}
.body_karzinka .app_prod .dastafka_radio_kar_dr .dastafka_radio_kar_card h5{
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
letter-spacing: 0.5px;
text-align: left;


}
.change-for-med{
    padding: 0px !important;
    padding-bottom: 0px !important;
    height: 45px !important;
    margin-top:14px !important;
    padding-left: 29px !important;
}
.change-for-med input{
    width: 16px !important;
    height: 16px !important;
}
.change-for-med1{
    padding: 0px !important;
    padding-bottom: 0px !important;
    height: 45px !important;
    margin-top:-2px !important;
    padding-left: 29px !important;
}
.change-for-med1 input{
    width: 16px !important;
    height: 16px !important;
}
.kalkulator_shot .p{
    border-bottom: 1px dashed grey;
}
.kalkulator_shot .p p{
border-bottom: 5px solid white !important;
font-family: Montserrat;
font-size: 14px !important;
font-weight: 400;
line-height: 17.07px;
letter-spacing: 0.5px;
text-align: left;

}
.kalkulator_shot .h3 h3{
    font-family: Montserrat;
font-size: 18px !important;
font-weight: 600;
line-height: 32px;
letter-spacing: 0.5px;
text-align: left;

}
.kalkulator_shot h5{
    font-family: Montserrat;
font-size: 14px !important;
font-weight: 600;
line-height: 17.07px;
letter-spacing: 0.5px;
text-align: left;

}
.kalkulator_shot h5 a{
    font-family: Montserrat;
font-size: 14px !important;
font-weight: 500 !important;
line-height: 17.07px;
letter-spacing: 0.5px;
text-align: left;
border-bottom: 1px dashed #1D6BD1;
}
.body_karzinka .kalkulator_shot .h3 {
    display: flex;
    justify-content: space-between;
    width: 91%;
    padding-top: 26px;
    margin: auto;
    margin-bottom: 4px;
    margin-top: -4px;
}
.body_karzinka .kalkulator_shot .p {
    display: flex;
    justify-content: space-between;
    width: 89%;
    padding-top: 0px;
    margin: auto;
    margin-bottom: 5px;
    align-items: center;
}
.body_karzinka .kalkulator_shot h5 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    letter-spacing: 0.5px;
    text-align: left;
    width: 91%;
    margin: auto;
    margin-top: 16px;
    margin-bottom: -6px;
}
.kalkulator_shot button{
    font-family: Montserrat;
font-size: 14px !important;
font-weight: 500;
line-height: 17.07px;

}
.body_karzinka .kalkulator_shot button {
    margin-top: 26px;
    background: #FFF957;
    height: 49px;
    width: 90%;
    margin-left: 5%;
    border: none;
    border-radius: 14px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
}
.check_karzinka{
    font-family: Montserrat;
font-size: 12px !important;
font-weight: 400;
line-height: 14.63px;
letter-spacing: 0.5px;
text-align: left;
margin-top: 8px !important;

}
.check_karzinka33{
    font-family: Montserrat;
font-size: 12px !important;
font-weight: 400;
line-height: 14.63px;
letter-spacing: 0.5px;
text-align: left;
margin-top: 8px !important;
}
 .kalkulator_shot{
    margin-top: -20px;
 }
 .check_karzinka33{
max-width: 330px;
margin: auto;
        width:94%;
        margin: auto;
        display: grid;
        align-items: start;
        grid-template-columns: 30px auto;
 }
 .body_karzinka .kalkulator_shot .check_karzinka33 input {
    width: 16px;
    height: 16px;
}
}
@media (max-width: 330px) {
    .body_karzinka .app_prod .poluchir_karzinka2 {
        display: grid;
        grid-template-columns: auto 107px;
    }
}

