@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    box-sizing: border-box;
}
body{
    padding-top: 205px !important;
    width: 100% !important;
}
.main h2{
    font-size: 26.5px !important;
}
.main h3{
    font-size: 30px !important;
}
.main .for_bg{
    max-width: 1470px;
    width: 100%;
    margin: auto;
    /* gap: 20px; */
}
.main .main__word{
    width: 100%;
    height: 495px;
    background: url(/image/e7eb5ef3744613bb91cfdd74eb13cd43.jpeg);
    margin-bottom: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.main .nvb{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1470px;
    width: 100%;
    margin-top: 10px;
    position: absolute;
    top: 20px;
    left: 10%;
}
.main .nvb p{
    font-size: 14px;
    font-weight: 500 !important;
    margin-bottom: 0;
}
.main .nvb i{
    font-size: 23px;
}
.main .for_bg h1{
    font-size: 54px;
    font-weight: 700;
    line-height: 81px;
    text-align: left;
    margin-bottom: 20px;
}
.main .for_bg p{
    font-size: 28px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
}
.main .word{
    max-width: 1470px;
    width: 100%;
    line-height: 24px;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 35px;
}
.main .word p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}
.main .word2 p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}
.main .wrd_h2{
font-weight: 500;
margin: 25px 0px !important;
}
.main .h34{
font-size: 20px !important;
font-style: italic !important;
font-weight: 600;
line-height: 30px;
text-align: left;
margin-bottom: 1px;
}
.main .for_p{
    margin-left: 10px;
    margin-bottom: 13px;
}
.main .for_p p{
    margin-bottom: 4px;
}
.main .p1{
    margin-bottom: 30px;
}
.main .word2{
    max-width: 1470px;
    width: 100%;
    line-height: 24px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 15px;
}
.main .word2 h1{
font-size: 32px;
font-weight: 500;
line-height: 38.73px;
margin-bottom: -6px;
}
.main .v2{
    font-style: italic;
}
.main .vjno{
    font-style: normal !important;
}
.main .ik_br{
    display: none;
}
.main .dp{
    max-width: 1465px;
    width: 100%;
    line-height: 24px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.main .dp p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-bottom: 6px;
}
.for_lit_p{
    padding-left: 8px;
    margin-top: 10px;
}
@media(max-width:1633px){
    .main .nvb{
        max-width: none !important;
        width: auto;
        margin: auto;
    }
}
@media(max-width:1500px){
    .main .for_bg{
        padding: 20px;
    }
    /* .main .nvb{
        max-width: 1440px;
        width: 95%;
        margin: auto;
    } */
    .main .word{
        padding: 20px;
    }
    .main .word2{
        padding: 20px;
    }
    .main .dp{
        padding: 20px;
    }
}
@media(max-width:991px){
    body{
        padding-top: 170px !important;
    }
}
@media(max-width:700px){
    .main .main__word{
        width: 100%;
        height: 600px;
  background-image: url(.//Frame\ 1003.png);  
    background-repeat: no-repeat; 
    background-size: cover;
    }
    .main .for_bg h1{
        font-size: 40px;
        line-height: 60px;
    }
    .main .nvb p{
        font-size: 12px;
    }
    .main .nvb i{
        font-size: 17px;
    }
}
@media(max-width:500px){
    .main .for_bg {
        margin: 0;
    }
    .main .for_bg h1{
        font-size: 22px;
        line-height: 25px;
        text-align: center;
    }
    .main .for_bg br{
        display: none;
    }
    .main .for_bg p{
        font-size: 16px;
        text-align: center;
    }
    .main .main__word{
        width: 100%;
        height: 500px;
        justify-content: flex-start;
    }
    .main .word2 h1{
        font-size: 23px;
        }
}
@media(max-width:430px){
    .main .nvb{
        padding-left: 20px;
    }
}
@media(max-width:360px){
    .main .for_bg h1{
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        margin: 0;
        margin-bottom: 12px;
    }
    .main .for_bg p{
        font-size: 12px;
        text-align: center;
        line-height: 14.63px;
        margin-bottom: 0;
    }
    .main .main__word{
        height: 461px;
        margin-bottom: 0;
    }
    .main .word {
        padding: 5px 15px;
        margin-bottom: 15px;
    }
    .main .word p{
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 10px;
    }
    .main .word2 p{
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 10px;
    }
    .main .dp p{
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 10px;
    }
    .main .word br{
        display: none;
    }
    .main .wrd_h2{
        font-size: 18px !important;
        line-height: 21.78px;
        margin-top: 0px !important;
    }
    .main .h34{
        font-size: 14px !important;
        line-height: 21px;
        margin-bottom: 8px;
    }
    .main .for_p{
        margin: 20px;      
    }
    .main .for_p p{
        margin-bottom: 13px;
        line-height: 15px;
    }
    .main .v{
        margin-bottom: 20px !important;
    }
    .main .p1{
        margin-top: -5px !important;
    }
    .main .word2 {
        padding: 5px 15px;
        margin-bottom: 0px;
    }
    .main .word2 h1{
        margin-bottom: 17px;
        font-size: 24px;
        font-weight: 600;
        line-height:30.05px;
    }
    .main .ik_br{
    display: flex;
    }
    .fr_p2{
        margin-bottom: 10px !important;
    }
    .main .dp {
        padding: 5px 15px;
        margin-bottom: 0px;
    }
    .for_lit_p p{
        margin-bottom: 4px !important;
    }
}