.catalog_main_page_first3 {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 63px;
    /* height: 482px; */
}

.catalog_main_page_first3_black {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #00000085;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 600;
    line-height: 34.13px;
    text-align: left;
    color: white;


}

.catalog_main_page_first3 img {
    width: 100%;
    filter: grayscale(100%);
}

catalog_title__page23 h1 {
    width: 95%;
    max-width: 1440px;
    margin: auto;
    margin-top: 50px;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 600;
    line-height: 34.13px;
    text-align: left;
    margin-bottom: 27px;
}

.pokazat12 {
    display: flex;
    align-items: center;
    justify-content: end;
margin-bottom: 16px;
}

.pokazat12 a {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.82px;
    text-align: left;
    margin-top: 9px;
    margin-right: -3px;
    width: 274px;
    height: 51px;
    display: flex;
    align-items: center; justify-content: center;
border-radius: 4px;
}
.pokazat12 a:hover{
    background: #00000046;

cursor: pointer;
text-decoration: underline;
}
.href2 {
    display: none;
}

@media (max-width:991px) {
    .catalog_main_page_first3 {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 63px;
        height: 148px;
    }
    .href2 {
        display: block;
    }
    .catalog_main_page_first3_black {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background: #00000085;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 600;
        flex-direction: column;
        line-height: 34.13px;
        text-align: center;
        color: white;
    
    
    }
    
    .catalog_main_page_first3 img {
        width: 100%;
        filter: grayscale(100%);
        height: 100%;
    } 
    .pokazat12{
        display: none;
    }  
}