.map_body{
    width: 90%;
    max-width: 1440px;
    margin: auto;
    margin-top: 55px;

}
body{
    position: relative;
}
.map_body h2{
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 600;
    line-height: 34.13px;
    text-align: left;
    
}
.iframe_map{
    display: grid;
    grid-template-columns: 512px auto;
    border: 1px solid rgba(0, 0, 0, 0.348);
    border-radius: 19px;
    height: 762px;
    margin-bottom: 20px;
    overflow: hidden;
    margin-top: 25px;
}
/* @media (max-width:1000px) {
    .iframe_map{
        display: grid;
        grid-template-columns: 512px auto;
        border: 1px solid rgba(0, 0, 0, 0.348);
        border-radius: 19px;
        height: 762px;
        margin-bottom: 20px;
        overflow: hidden;
        margin-top: 25px;
    }
} */
.iframe_map iframe{
    width: 100%;
    height: 762px;
}
.iframe_scroll{
    width: 100%;
    height: 762px;
  
    overflow: auto;
    position: relative;
}
.scrollic{
    padding: 25px;
}
.inp_mes{
    width: 90%;
    height: 66px;
    /* padding-left: 15px; */
    display: flex;
    align-items: center;
    gap: 12px;
    background: #F5F5F5;
    position: absolute;
    top: 7px;
    left: 25px;
    margin-top: 20px;
    border-radius: 8px;
}
.inp_mes input{
    border: none;
    background-color: #F5F5F5;
    outline: none;
    font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 21.94px;
text-align: left;
color: #6A6A6A;
width: 90%;
}
.inp_mes .bx-search{
    font-size: 25px;
}
.filt0{
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
}
.pop{
    display: flex;
    
gap: 6px;
}
.pop1{
    display: flex;
    align-items: center;
}
.pop .bx-slider-alt{
    font-size: 20px;
}
.pop span ,.pop1 span{
    font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 19.5px;
text-align: left;
color: #242424;
}
.pop1 span{
    margin-left: 10px;
}
.flagm{
    margin-top: 31px;
    margin-left: -3px;
    cursor: pointer;
}
.magal{
    display: flex;
    align-items: center;
    gap: 6px;
}
.magal h3{
    font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: 20px;
text-align: left;
color: #242424;
margin-top: 8px;
}
.flagm h4{
    font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 20px;
text-align: left;
color: #242424;
margin-top: 14px;
margin-left: -2px;
}
.flagm p{
    font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: left;
color: #242424;
margin-top: 6px;
margin-bottom: 4px;
margin-left: -3px;
}
.flagm span{
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;
margin-left: -3px;
color: #898989;
}
.lombard{
    display: flex;
    gap: 8px;
    margin-top: 8px;
    margin-left: 10px;
    align-items: center;
    margin-left: -7px;
    overflow: auto;
    /* width: 100%; */
}
.lombard button{
    border-radius: 100px;
    background: #F5F5F5;
border: none;
    padding: 10px 16px 10px 16px;
}
.flagm hr{
    color: rgba(128, 128, 128, 0.179) !important;
    opacity: 0.4;
    margin-top: 27px;
}
.footer_1{
    padding-top: 46px !important;
}
.footer_1 {
    padding-top: 115px;
    display: grid;
    grid-template-columns: 1.4fr 1.5fr 0.93fr 1fr 0.5fr !important;
    width: 95%;
    max-width: 1440px;
    margin: auto;
}
@media (max-width:1200px) {
    .iframe_map{
        display: grid;
        grid-template-columns: 400px auto;
        border: 1px solid rgba(0, 0, 0, 0.348);
        border-radius: 19px;
        height: 762px;
        margin-bottom: 20px;
        overflow: hidden;
        margin-top: 25px;
    }
    .lombard button{
        padding: 8px 6px 10px 7px;
    }
}
.ifr{
    display: none;
}
@media (max-width:987px) {
    .iframe_map{
        display: grid;
        grid-template-columns:  auto;
        border: 1px solid rgba(0, 0, 0, 0.348);
        border-radius: 19px;
        height: 762px;
        margin-bottom: 20px;
        overflow: hidden;
        margin-top: 25px;
    }
    /* .lombard button{
        padding: 8px 6px 10px 7px;
    } */
    .ifr{
        display: block;
    }
}
@media (max-width:445px){
    .lombard button{
    padding: 6px 2px 6px 4px;

    }
    .lombard{
        overflow: auto;
     
    }
}
.sojida{
    display: flex;
    align-items: center;
    margin-top: 14px;
    gap: 17px;
    margin-bottom: 2px;
}
/* .iframe_scroll{
    display: none;
} */
.clcikker{
    overflow: auto;
    display: none;
}
.clickic{
    padding: 30px;
}
.back{
    display: flex;
    align-items: center;
    gap: 10px;
}
.back span{
    font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 19.5px;
text-align: left;
color: #2424248A;
cursor: pointer;
}
.back .bx-arrow-back{
    font-size: 24px;
    color: #2424248A;

}
.dobr{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}
.dobr button{
    padding: 16px;
    color: #2E8AE6;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    text-align: left;
    border-radius: 8px;
    background: #2E8AE633;
    border: none;
  
}
.back_blackc{
    background-color: #242424;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
}
.mySwiper2 .swiper-button-next ,.mySwiper2 .swiper-button-prev{
    background-color: white !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    --swiper-navigation-size: 20px;
    --swiper-navigation-color: black;
}
.back_blackc .bx-x{
    font-size: 40px;
    color: white;
    position: absolute;
    right: 20px;
    top: 10px;
}
.back_blwh{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.288);
    z-index: 9999999;
    display: none;
}
.blwhite{
    max-width: 390px;
    width: 100%;
    height: 623px;
    border-radius: 14px;
    background-color: white;
    margin-top: 110px;
    margin-left: 20px;
}
.blwhitic{
    padding: 25px;
}
.kak{
    display: flex;
    justify-content: space-between;
    align-items: center;
margin-bottom: 30px;
}
.kak .bx-x{
    font-size: 25px;
    cursor: pointer;
}
.kak h2{
    font-family: Montserrat;
font-size: 22px;
font-weight: 600;
line-height: 26.82px;
text-align: left;
}
.blwhite h6{
    font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: left;
margin-bottom: -5px;
/* margin-bottom: 30px; */
}
.blwhite img{
    margin-top: 40px;
}
.blwhitic button{
    width: 100%;
    height: 44px;
    border-radius: 8px;
    background: #2E8AE633;
    margin-top: 33px;
    border: none;
    color: #2E8AE6;
    font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17.07px;

}