.modal_cart{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.37);
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    z-index: 12212;
    align-items: start;
    padding-top: 5%;
    display: none;
overflow: auto;
}
.white{
    width: 90%;
    max-width: 1174px;
    border-radius: 10px;
    min-height:734px ;
    background-color: white;
    position: relative;
}
.white_ic{
    padding: 30px;
}
.carttov{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    flex-wrap: wrap;
}
.carttov h2{
    font-family: Montserrat;
font-size: 28px;
font-weight: 600;
line-height: 34.13px;
text-align: left;

}
.hrf{
    display: flex;
    gap: 14px;
    margin-top: 3px;
}
.hrf span{
    color: grey;
    text-decoration: underline;
    font-family: Montserrat;
font-size: 12px;
font-weight: 600;
line-height: 14.63px;
text-align: left;
text-decoration: underline;

}
.hrf .bx-x{
    font-size: 24px;
    position: absolute;
    top: 35px;
    right: 29px;
}

.plusminus{
    display: grid;
    grid-template-columns:180px 260px 200px 180px 1fr;
    /* justify-content: space-between; */
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    height: auto;
    box-shadow: 0px 0px 22px 0px #0000001A;

}
.imageu{
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.imageu img{
    width: 100%;
}
.titleimg{
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 15px;
}
.gap{
    width: 100%;
    /* background-color: rgb(93, 245, 245); */
}

.pricc{
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: end;
    align-items: center;
}
.titleimg h3{
    font-family: Montserrat;
font-size: 20px;
font-weight: 500;
line-height: 24.38px;
text-align: left;
color: #363636;
margin-bottom: 22px;

}
.titleimg p{
    font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
text-align: left;
color: #242424;
margin-top: 10px;
position: relative;
top: -4px;
}
.plmin{
    width: 100%;
    /* background-color: rgb(160, 47, 47); */
    justify-content: center;
    display: flex;
}
.btnplu{
    display: flex;
    gap: 10px;
    align-items: center;
}
.btnplu span{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
text-decoration: none !important;

}
.min{
    width:44px !important;
height:44px !important;
background: #F1F1F1;
display: flex;
justify-content: center;
align-items: center;
line-height: 0px;
border-radius: 8px;
cursor: pointer;
}
.min p{
font-size:35px;
/* line-height: 0px; */

padding: 0px;
margin: 0px;
}
.min p .bx-minus{
    font-size: 29px;
}
.min:hover{
    background-color: #242424;
    color: white;
}
.pricc{
    margin-right: 20px;
    padding-right: 18px;
    margin-top: -8px;
}
.pricc h3{
    color: #0BAE45;
    font-family: Montserrat;
font-size: 28px;
font-weight: 700;
line-height: 34.13px;
text-align: left;
}
.delp del{
    font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 19.5px;
text-align: left;
color: #8B8B8B;
position: relative;
top: 10px;
}
.delp{
    color: #8B8B8B;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: left;
    
}
.rekom h2{
    font-family: Montserrat;
font-size: 28px;
font-weight: 600;
line-height: 34.13px;
text-align: left;
color: #000000;

}
.rekom{
    margin-top: 62px;
}
.uzucard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 32px;
    min-height: auto;
    gap: 61px;
}
.ringimg img{
    /* background: url('./image/5-2964-103-1Б\ 1\ \(1\).png')no-repeat; */
    width: 100%;
    background-size: cover;
    background-position: center;
    /* height: 130px;/ */
}
.carduz{
    /* background-color: #0BAE45; */
    width: 100%;
    /* height: 150px; */
    display: grid;
    border-radius: 10px;
    grid-template-columns: 150px 1fr;
}
.carduz:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.ringtex{
    padding:15px;
    position: relative;
}
.ringimg{
    position: relative;
}
.ringimg .bx-heart{
    position: absolute;
    top: 10px;
    left: 9px;
    font-size: 23px;
    border: 1px solid #ECECEC;
    color: #C1C1C1;
    padding: 3px;
    z-index: 123;
    font-weight: 100 !important;
cursor: pointer;
} 
.ringtex span{
    font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 21.94px;
text-align: left;
color: #363636;
text-decoration: none !important;
}
.ringtex h2{
    font-family: Montserrat;
font-size: 20px;
margin-top: 13px;
font-weight: 700;
line-height: 24.38px;
text-align: left;

}
.ringtex del{
    font-family: Montserrat;
font-size: 14px;
font-weight: 600;
line-height: 17.07px;
text-align: left;
color: #DE6060;

}

.oformit{
    width: 100%;
    box-shadow: 0px -1px 15.3px 0px #0000001A;
    min-height: 116px;
 
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grey{
    width:  543px;
height:44px;
/* padding: 12px 82px 12px 82px; */
border-radius: 8px  ;
opacity: 0px;
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 19.5px;
border: 1px solid #242424;
color: #242424;
}
.grey:hover{
    background-color: #36363642;
}
.pokupka{
    display: flex;
    align-items: center;
    gap: 30px;
}
.yellow{
    width:543px;
height:44px;
background: #FFF957;
border: none;
/* padding: 12px 82px 12px 82px; */
gap: 30px;
border-radius: 8px;
opacity: 0px;
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 19.5px;
color: #242424;

}
.yellow:hover{
    background-color: #e0db4b;
}
.modal22{
    max-width: 886px;
    width: 100%;
    height: 627px;
    background-color: white;
    border-radius: 12px;
    display: none;
    position: relative;
}
.modal2_ic{
    padding: 30px;
    
}
.carttov1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carttov1 h2{
    font-family: Montserrat;
font-size: 28px;
font-weight: 600;
line-height: 34.13px;
text-align: left;

}
.oplata{
    display: grid;
    grid-template-columns: 155px 1fr 1fr;
    height: 134px;
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 0px 22px 0px #0000001A;
    margin-top: 30px;
}
.oplprice{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.opltext{
    width: 100%;
    display: flex;
    align-items: center;
}
.oplimg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.oplimg img{
    width: 96%;
    margin: auto;
    /* height: 100px; */
    border-radius: 10px;
}
.ic{
    margin-top: 10px;
    margin-left: 4px;
}
.ic span{
    position: relative;
    top: 7px;
text-decoration: none !important;

}
.ic h2{
    font-family: Montserrat;
font-size: 20px;

font-weight: 500;
line-height: 24.38px;
/* text-align: left; */
color: #363636;

}
.pric{
margin-right: 15px;
}
.pric h2{ 
    font-family: Montserrat;
font-size: 28px;
font-weight: 700;
line-height: 34.13px;
color: #0BAE45;
text-align: right;

}
.pric p{
    font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
color: #8B8B8B;
position: relative;
top: 8px;
}
.e-mail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 64px;
    gap: 24px;
    height:190px;
}
.e-mail input{
    background: #F5F5F5;
    width: 390px;
    border: none;
    height: 66px;
    padding-left: 20px;
    border-radius: 8px;
    font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 21.94px;

}
.kupit button:hover{
    background-color: #e0db4b;

}
.kupit{
    height: 114px;
    width: 100%;
    box-shadow: 0px -1px 15.3px 0px #0000001A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
}
.nncartov{
    display: none;
}
.kupit button{
    width: 830px;
height: 56px;
 
gap: 30px;
border-radius: 8px  ;
background: #FFF957;
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 19.5px;
color: #242424;
border: none;
opacity: 0px;

}
.pric del{
    font-family: Montserrat;
font-size: 12px;
font-weight: 600;
line-height: 14.63px;
text-align: left;
color: #8B8B8B;
display: none;
}
@media (max-width:1277px) {
    .yellow{
        width: 480px;
    }
    .grey{
        width: 480px;
    }
    /* .carduz {
        height: 172px;
    } */

  
}
@media (max-width:1299px) {  
    .uzucard{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 32px;
        min-height: 230px;
        gap: 61px;
        width: 80%;
    }
}
@media (max-width:991px){
  .modal_cart{
        /* display: flex; */
      
    }  
    .uzucard {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 32px;
        min-height: 230px;
        gap: 61px;
        width: 100%;
    }
    .plmin{
        grid-column-start: 1;
        grid-column-end: 3;
        /* grid-col-start: 1;
        grid-row-end: 3; */
    }
    .pokupka{
        display: grid;
        grid-template-columns: 1fr;
    }
    .pricc{
        grid-column-start: 1;
        padding: 0;
        margin: 0;
        grid-column-end: 3;  display: flex;
        justify-content: start; 
    }
    .plusminus{
        display: grid;
        grid-template-columns:100px 1fr;
        /* justify-content: space-between; */
        width: 100%;
        margin-top: 30px;
        border-radius: 10px;
        overflow:visible;
        height: auto;
        /* box-shadow: 0px 0px 0px 0px #0000001A; */
    
    }
    .uzucard{
        display: grid;
        grid-template-columns: 1fr;
    }
    .oformit{
        padding-bottom: 10px;
    }
    .carduz{
        width: 50%;
    }
    .nncartov{
        display: block;
    }
    .nncartov1{
        display: none;
    }
}
@media (max-width:878px) {
    .modal22 {
        max-width: 886px;
        width: 97%;}
        .e-mail{
            gap: 8px;
            height: auto;
        }
        .kupit button {
            width:98%;
        }
        .modal22{
            height: auto;
        }
}

@media (max-width:850px) {
    .e-mail{
        display: grid;
        grid-template-columns:   1fr;
    }
    .e-mail input{
        width: 100%;
    }
}


@media (max-width:790px) {
    .carduz {
        width: 60%;
    }
}
@media (max-width:690px) {
    .carduz {
        width: 100%;
    }
}
@media (max-width:600px) {
    .grey {
        width: 100%;
        font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17.07px;
 

    }
    .yellow {
        width: 100%;
        font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17.07px;
 

    }
    .pokupka{
        width: 94%;
    }
}
@media (max-width:555px) {
    .ic h2 {
        font-size: 17px;
    }
    .pric h2 {
        font-family: Montserrat;
        font-size: 22px;
    }
    .pric p {
        font-family: Montserrat;
        font-size: 13px;
        margin-left: 20px;
    }
    .e-mail{
        margin-top: 30px;
    }
    .pric del{
        display: block;
        margin-top: 9px;
        margin-left: 16px;
    }
    .pric p{
        display: none;
    }

.oplata {
    display: grid;
    grid-template-columns: 155px 1fr;
    height: auto;
    border-radius: 16px;
    overflow: auto;
    width: 100%;
    box-shadow: 0px 0px 22px 0px #0000001A;
    margin-top: 30px;
    padding-bottom: 8px;
}
}
@media (max-width:485px) {
    
}
@media (max-width:430px) {
    .carttov h2{
        font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 21.94px;
text-align: left;

    }
    .hrf span{
        font-family: Montserrat;
font-size: 12px;
font-weight: 600;
line-height: 14.63px;
text-align: left;

    }
    .titleimg h3{
        font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17.07px;
text-align: left;
margin-bottom: 19px;
margin-top: 9px;
    }
    .white_ic {
        padding: 12px;
    }
    .hrf .bx-x {
        font-size: 24px;
        position: absolute;
        top: 13px;
        right: 13px;
    }
    .plusminus{
        margin-top: 14px;
        gap: 10px;
    }
    .titleimg p{
        font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 14.63px;
text-align: left;

    }
    .plmin{
        margin-top: -18px;
    }
    .btnplu {
        display: flex;
        gap: 6px;
        align-items: center;
    }
    .pricc h3{
        font-family: Montserrat;
font-size: 18px;
font-weight: 700;
line-height: 21.94px;
text-align: left;
margin-top: 11px;
margin-left: 19px;
    }
    .delp del{
        font-family: Montserrat;
font-size: 12px;
font-weight: 600;
line-height: 14.63px;
text-align: left;
margin-left: 20px;
position: relative;
top: -4px;
    }
    .rekom h2{
        font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 21.94px;
text-align: left;

    }
    .rekom {
        margin-top: 19px;
    }
    .ringtex span{
        font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;

    }
    .rekom h2{
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 600;
        line-height: 21.94px;
        text-align: left;
        
    }
    .ringtex h2{
        font-family: Montserrat;
font-size: 14px;
font-weight: 700;
line-height: 17.07px;
text-align: left;
margin-top: 0px;
    }
    .ringtex del{
        font-family: Montserrat;
font-size: 12px;
font-weight: 600;
line-height: 14.63px;
text-align: left;

    }
    .uzucard{
        margin-top: 0px;
        gap: 0px;
    }
 .carduz{
    display: grid;
    grid-template-columns: 109px 1fr ;
 }
 .ringtex {
    padding: 3px;
    position: relative;
}
.pokupka{
    gap: 11px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
.oformit{
    padding-top: 20px;
}
.imageu img {
    width: 83%;
    margin-left: 10px;
}
/* .uzucard{
    height: 123px;
    overflow: auto;
    min-height: auto;
} */
.white_ic {
    padding: 12px;
    height: 447px;
    overflow: auto;
}
.oformit {
    padding-bottom: 0px;
}
.white{
    min-height: auto;
    padding-bottom: 15px;
}
.modal_cart{
    padding-top: 82px;
}
}
@media (max-width:380px) {
    .modal22{
        width: 91%;
    }
    .modal2_ic {
        padding: 14px;
        padding-top: 20px;
    }
    .oplata {
        display: grid;
        grid-template-columns: 106px 1fr;
        margin-top: 15px;
 
    }
    .oplimg img {
        width: 100%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .ic h2{
        font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17.07px;
text-align: left;

    }
    .ic span{
        font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 14.63px;
text-align: left;

    }
    .pric h2{
        font-family: Montserrat;
font-size: 18px;
font-weight: 700;
line-height: 21.94px;
text-align: left;

    }
    .pric h2{
        margin-top: 8px;
        margin-left: 21px;
    }
    .pric{
        margin-right: 0px;
    }
    .e-mail {
        margin-top: 13px;
    }
    .e-mail input {
        height: 44px;
        font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;

    }
    .e-mail {
        gap: 25px;
        margin-top: 19px;
        /* height: auto; */
    }
    .kupit {
        height: auto;
        padding-bottom: 17px;
        padding-top: 21px;
    }  

.kupit button {
    height: 44px;
    width: 92%;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
}
}