.routpage_one{
    display: flex;
    gap: 9px;
    margin: auto;
    margin-top: 63px;
    padding-left: 2px;
    width: 95%;
    max-width: 1440px;
align-items: center;
}
.routpage_one span{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #808080;
    
}
.routpage_one .bx-chevron-right{
    font-size: 24px;
    color: #808080;
}
.card_body_one{
    display: grid;
    grid-template-columns:  2fr 1.1fr;
    width: 95%;
    margin: auto;
    max-width: 1440px;
    margin-top: 32px;
    gap: 20px;
}
.carousel_one{
    width: 100%;
 
    min-height: 200px;
    max-width: 930px;
display: grid;
grid-template-columns: 100px auto;
gap: 10px;

}
 .payment_one{
    min-height: 200px;
    /* background-color: green; */
}
.carousel_one .swiper {
    width: 100%;
    height: 100%;
  }

  .carousel_one .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel_one .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .carousel_one .swiper {
    width: 100%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .carousel_one  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .carousel_one .mySwiper2 {
    height: 100%;
    width: 100%;
  }

  .carousel_one .mySwiper {
    /* height: 100%; */
    box-sizing: border-box;
    padding: 10px 0;
    padding-top: 22px;
    padding-bottom: 25px;
 
  }
    .carousel_one .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
  .carousel_one .mySwiper .swiper-wrapper img{
    width: 88px;
    height: 88px;
    margin-bottom: 32px;
    border-radius: 12px !important;
    margin-left: -13px;
   
  }


  .carousel_one .mySwiper .swiper-wrapper {
 gap: 6px;
 background-color: #80808000;
  }

  .carousel_one .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

.payment_one h2{
  font-family: Montserrat;
font-size: 28px;
font-weight: 600;
line-height: 34.13px;
text-align: left;
margin-left: 7px;
}
.cpb{
  width: 100%;
  height: 430px;
  border-radius: 15px;
  position: relative;
  top: 35px;
  box-shadow: 0px 0px 20px 0px #3E3E3E26;
  /* margin-top/:35px; */
}
.cpbic{
  padding: 21px;
}
.xarakb{
  width: 137px;
  height: 50px;
  border-radius: 12px;
  padding: 8px 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0BAE45;
}
.xarak{
  display: flex;
  align-items: center;
  margin-top: -3px;
  margin-left: 4px;
  gap: 10px;

}
.xarakb span{
  font-family: Montserrat;
font-size: 28px;
font-weight: 700;
line-height: 34.13px;
text-align: left;
color: #FFFFFF;

}
.xarak p{
  margin-top: 8px;
  font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;

}
.cpoc{
  width: 100%;
  height: 36px;
  border-radius: 10px;
  background: #F8F8F8;
  margin-top: 10px;
  display: flex;
  align-items: center !important;
  padding-left: 17px;
  gap: 7px;
}
.cpoc span{
  font-family: Montserrat;
font-size: 20px;
font-weight: 500;
line-height: 24.38px;
text-align: left;
color: #6C7B8B;

}
.cpoc p{
  font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;
color: #000000;
margin-bottom: 0;
}
.cpoc del{
  font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
text-align: left;
color: #6C7B8B;

}
.prkar{
  display: flex;
  justify-content: space-between  ;
      margin-top: 19px;
    margin-left: 3px;
  }
.clcick{
  width: 61px;
  height: 46px;
  border: 1px solid #BABABA;
  border-radius: 14px;
  display: flex;
justify-content: center;
align-items: center;
}
.clcick:hover{
  background-color: #FFF957;
  color: black;
  border: none;
}
.clcick:hover span{
  color: #000000;
}
.clcick span{
  font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 24.38px;
text-align: center;
color: #BABABA;

}
.oneclick{
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-left: 5px;
  gap: 5px;
}
.likebtn{
  margin-left: 5px;
  display: flex;
  gap: 10px;
  margin-top: 22px;
}
.likebtn button{
  width: 391px;
  height: 58px;
  border-radius: 14px;
  background: #FFF957;
font-family: Montserrat;
font-size: 16px;
border: none;
font-weight: 500;
line-height: 19.5px;
color: #242424;
}
.likebtn button:hover{
  background-color: #d6d252;
}
.heart:hover{
  background-color: #FFF957;
}
.heart{
  width: 57px;
  height: 57px;
  border-radius: 14px;
  border: 1px solid #242424;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bx-heart{
  font-size: 30px;
  font-weight: 200 !important;
}
.tasar{
  width:98%;
  height: 57px;
  border: 1px solid #242424;
  border-radius: 14px;
  font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17.07px;
color: #242424;
background-color: white;
margin-left: 4px;
margin-top: 10px;
}
.tasar:hover{
  background-color: #00000042;
}
.bank1 p{
font-family: Montserrat;
font-size: 18px;
font-weight: 500;
line-height: 21.94px;
text-align: left;
}
.bank1{
background-color: #EFEFEF;
border-radius: 15px;
width: 100%;
/* background-color: red;// */

height: 135px;
margin-top: 30px;
}
.bank1 span{
font-family: Montserrat;
font-size: 18px;
font-weight: 500;
line-height: 21.94px;
text-align: left;
color: #0BAE45;
}
.bankic{
padding: 24px;
padding-top: 20px;
}
.at{
margin-top: -4px;
}
.at span{
margin-left:7px;
}
.clip{
display: flex;
align-items: center;
    gap: 14px;
    margin-top: 21px;
}
.nedrat h2{
font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: 24.38px;
text-align: left;

}
.nedrat{
width: 100%;
 background: #F5F5F5;
height: 821px;
border-radius: 15px;
margin-top: 30px;
}
.nedratic{
padding: 20px;
}
.artikl{
display: grid;
grid-template-columns: 0.5fr 1fr;
margin-left: 4px;
margin-top: 26px;
    margin-left: 7px;
    /* margin-top: 2px; */
    margin-bottom: 11p/x;
}
.artikl span{
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
margin-left: 10px;
line-height: 17.07px;
text-align: left;
}
.artikl p{
font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17.07px;
text-align: left;
color: #9D9D9D;

}

.spans{
margin-top: -8px;
}
.artikl1{
display: grid;
grid-template-columns: 0.5fr 1fr;
margin-left: 4px;
    margin-left: 7px;
    margin-top: 2px;
    margin-bottom: 15px;
}
.artikl1 span{
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
margin-left: 10px;
line-height: 17.07px;
text-align: left;
}
.artikl1 p{
font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17.07px;
text-align: left;
color: #9D9D9D;
margin-bottom: 2px !important;
}
.art{
  display: flex;
  align-items: center;
  margin-left: 10px;
  gap: 10px;
}
.qr span{
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;
margin-top: 10px;
}
.qr{
  display: block;
  margin-left: 6px;
  margin-top: -10px;
}
.qr img{
  margin-bottom: 7px;
}
.komplekt{
  font-family: Montserrat;
font-size: 28px;
font-weight: 600;
line-height: 34.13px;
text-align: left;
margin-top: 25px;
}
.pod{
  display: grid;
  grid-template-columns: 274px 274px 274px;
  /* justify-content: space-around; */
  margin-top: 23px;
  /* gap: 30px;/ */
  justify-content: space-between;
}
.fiant{

  /* width: 274px; */
  height: 366px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 0px 15px 0px #0000001A;
/* background-color: red;/ */
position: relative;
}
.fiantbody{
      margin-top: 21px;
    margin-left: 2px;
}
.fiantbody span{
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;
color: #242424;

}
.fiantbody p{
  font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
text-align: left;
text-decoration: underline;
margin-top: 15px;
}
.fiantic{
  padding: 30px;

}
.fiantic img{
  width: 100%;
  height: 220px;
}
.butt_plus{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -32px;
  top: 42%;
}
.butt_plus1{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -55px;
  top: 42%;
}
.bx-plus{
  font-size: 29px;
}
.zaka{
  display: flex;
  align-items: center;
  /* margin-left: -4px; */
  gap: 14px;
  margin-top: 13px;
}
.zaka span{
  color: #0BAE45;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.94px;
  text-align: left;
  
}
.zaka del{
  font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;
color: #6C7B8B;

}
.two{
  margin-left: 0px;
}
/* .oo{
  margin-left: -5px;
} */
.bonus{
  width: 100%;
  position: relative;
  height: 103px;
  margin-top: 30px;
  box-shadow: 0px 0px 15px 0px #0000001A;
  border-radius: 12px;
}
.bonusic{
  padding-left: 62px;
  padding-top: 18px;
}
.zaka1{
  display: flex;
  align-items: center;
  /* margin-left: -4px; */
  gap: 14px;
  margin-top: 13px;
}
.zaka1 span{
  font-family: Montserrat;
font-size: 22px;
font-weight: 700;
line-height: 26.82px;
text-align: left;
color: #0BAE45;
}
.zaka1 del{
  font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 21.94px;
text-align: left;
color: #6C7B8B;
}
.ten{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -35px;
  top: 18%;
}
.ten span{
  font-size: 39px;
  font-weight: 600;
}






.paraph h2{
  font-family: Montserrat;
font-size: 28px;
font-weight: 600;
line-height: 34.13px;
margin-bottom: 26px !important;
}

.prp{
  font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
margin-bottom: 50px;
}
.paraph {
  width: 95%;
  max-width: 1440px;
  margin: auto;
  margin-top: 103px;
}
.tab_but{
  width: 356.75px;
height:66px;
/* padding: 22px 142px 22px 142px; */
border-radius: 12px  ;
background: #F5F5F5;
display: flex;
justify-content: center;
align-items: center;
opacity: 0px;

}
.guarantee{
  margin-top: 76px;
}
.guarbtns{
  display: flex;
  gap: 3px;
}
.tab_but:hover{
  background-color: #00000046
}
.tab_but span:hover{
  text-decoration: underline;
  color: #000000;
  cursor: pointer;

}

.tab_but span{
  font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 21.94px;
color: #939393;

}
.question{
  width: 100%;
  height: 632px;
  box-shadow: 0px 0px 20px 0px #3E3E3E26;
  background-color: white;
  border-radius: 12px;
  margin-top: 30px;
  display: none;
}
.quesic{
  padding: 28px;
  padding-left: 40px;
}
.grinp{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.grinp input{
  width: 435.33px;
  height: 66px;
  border-radius: 8px;
  border: none;
  background: #F5F5F5;
  padding-left: 18px;
  outline: none;
  font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 21.94px;
text-align: left;
color: #939393;

}
.quesic h3{
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 600;
  line-height: 34.13px;
  text-align: left;
margin-bottom: 10px;    
}
.quesic textarea{
  width: 99%;
  background: #F5F5F5;
  border: none;
  margin-top: 46px;
  padding-top: 21px;
  padding-left: 18px;
  outline: none;
  height: 165.38px;
  border-radius: 8px;
  font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 21.94px;
text-align: left;
color: #939393;

}
.red{
  font-family: Montserrat;
font-size: 12px !important;
font-weight: 400;
line-height: 14.63px;
text-align: left;
color: #F32B2A;
margin-bottom: 25px;
margin-top: 3px;
}
.robotm span{
  font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
text-align: left;
}
.imnr{
  border: 1px solid #D3D3D3;
  background: #F9F9F9;
  width: 381px;
  height: 105px;
  border-radius: 4px;
  margin-top: 7px;
  display: flex;
  justify-content: space-between  ;
  align-items: center;
  margin-top: 10px;
  margin-left: 2px;
}
.checky{
  display: flex;
  align-items: center;
  margin-left: 10px;

  gap: 16px;
}
.obnov{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.obnov img{
  margin-right: 10px;
}
.checky input{
  width: 28px;
  height: 28px;
}
.checky p{
  font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
text-align: left;
margin-bottom: 0px;
}
.otpm{
  width: 277px;
height:56px;
padding: 18px 42px 18px 42px;
gap: 10px;
border-radius: 14px ;
border: none;
margin-top: 16px;
opacity: 0px;
background: #DEDEDE;
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 19.5px;
text-align: left;
color: #B0B0B0;

}
.otpm:hover{
  background-color: #FFF957;
  color: black;
}




.slider_one2{
  max-width: 1440px;
  width: 95%;
  margin: auto;
  margin-top: 48px;
}
.slider_one2 h3{
  font-family: Montserrat;
font-size: 28px;
font-weight: 600;
line-height: 34.13px;
text-align: left;
}
.slider_one2 .cards_one2{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
gap: 36px;
  margin-top: 28px;
  position: relative;
  left: -2px;

}
.slider_one2 .cards_one2 .card_one2{
  box-shadow: 0px 0px 15px 0px #0000001A;
min-height: 315px;
border-radius: 12px;
padding-top: 15px;
}
.slider_one2 .cards_one2 .card_body_one2{
height: 250px;
margin-bottom: 4px;
overflow: hidden;
width: 227px;

margin: auto;margin-bottom: -3px;
}
.slider_one2 .cards_one2 .card_one2 p{
width: 87%;
margin: auto;
}
.slider_one2  .swiper {
  width: 100%;
  height: 100%;
}

.slider_one2  .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider_one2  .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  /* width: 99%; */
  /* padding-bottom: 10px; */
}

.slider_one3{
  height: 300px;
  overflow: visible;
}
.slider_one3 .swiper-button-next {
background-color: white !important;
position: absolute;
top: 170px;
right: 0px;
width: 40px;
height: 40px;
font-size: 30px !important;
border-radius: 50%;

}
.slider_one3 .swiper-button-prev {
  background-color: white !important;
  position: absolute;
  top: 170px;
  left: 0px;
  width: 40px;
  height: 40px;
  font-size: 30px !important;
  border-radius: 50%;
  
  }
.slider_one3 .swiper-button-next:after, .slider_one3 .swiper-button-prev:after{
font-size: 23px;
}
.slider_one2 .swiper-pagination-bullet-active {
border-radius: 50% !important;
background: #242424 !important;
}
.slider_one3 .card_one4 .swiper-slide img{
  font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 14.63px;
text-align: left;

}
.slider_one3 .card_one4 .swiper-slide{
  min-height: 213px;
  width: 252px !important;
}
.price_one4 .swiper-slide{
  width: 95%;
  height: 200px !important;
  font-size: 10px;
}
.price_one4{
  display: flex;
  align-items: center;
  gap: 10px;
}

.price_one4 h4{
  font-family: Montserrat;
font-size: 18px;
font-weight: 700;
text-align: left;
color: #0BAE45;
margin-top: 7px;
padding-left: 18px;
}
.price_one4 h5{
  font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;
color: #6C7B8B;
text-decoration: line-through;
margin-top: 10px;
margin-left: 5px;
}
.price_one4 h6{
  font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 17.07px;
text-align: left;
color: #6C7B8B;
margin-top: 7px;
margin-left: 18px;
}
.slider_one3 .card_one4 .swiper-pagination-bullet {
  border-radius: 0px !important;
  transform: rotate(0deg) !important;
  width: 50.25px;
  height: 3px;
  gap: 0px;  
}
.slider_one3 .card_one4 p{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  text-align: left;
  margin: auto;
  width: 85%;
  margin-top: -1px;
  margin-bottom: 0px;
  margin-left: 16px;  
}


.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  position: absolute;
  bottom: -9px;
}


.div-inside-in-for-display-none-div{
  display: flex;
  align-items: start;
  padding-left: 18px;
  padding-right: 18px;
}
.div-inside-in-for-display-none-div h6{
  font-family: Montserrat;
  font-weight: 400;
  font-size: 10px;
  line-height: 12.19px;
  width: 100%;
  color: #9D9D9D;
  margin-top: 0px;
  margin-bottom: 0px;
}
.div-inside-in-for-display-none-div h5{
  font-family: Montserrat;
  font-weight: 400;
  font-size: 10px;
  line-height: 12.19px;
  width: 100%;
  color: #242424;
  margin-top: 0px;
  margin-bottom: 4px;  
  margin-left: -10px; 
}
.first-div-inside-in-for-display-none-div{
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 3px;
}
.first-div-inside-in-for-display-none-div1{
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 10px;
}
.size-div-inside-in-for-display-none-div{
  color: #BABABA;
  border: 1px solid #BABABA;
  border-radius: 2px;
  font-weight: 400;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 14.63px;
  padding: 2px 6px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
}
.size-div-inside-in-for-display-none-div:hover{
  color: black;
  background-color: #FFF957;
  border: 1px solid #FFF957;
}
.button-inside-in-for-display-none-div{
  width: 85%;
  height: 30px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.63px;
  background: #FFF957;
  color: #242424;
  margin-top: 7px;
  border-radius: 5px;
  margin-bottom: 10px;
}
/* .for-display-none-div-big{
}
.for-display-none-div-big1{
  display: none;
}
.for-display-none-div-big2{
  display: none;
} */
.card_one4{
  position: relative;
}
.card_one4:hover .for-display-none-div-big{
  display: block;
}
 .for-display-none-div-big{
  /* position: absolute;
  bottom: -207px;
  left: 0px;
  z-index: 344233 !important; */
  display: none;

} 
.card_one4:hover .for-display-none-div-big1{
  display: block;
}
.for-display-none-div-big1{
  /* position: absolute;
  bottom: -207px;
  left: 0px; */
  display: none;
 
}
.card_one4:hover .for-display-none-div-big2{
  display: block;
}
.for-display-none-div-big2{
  /* position: absolute;
  bottom: -207px;
  left: 0px; */
  display: none;

} 
.kuryer h1{
  font-family: Montserrat;
font-size: 28px;
font-weight: 600;
line-height: 34.13px;
text-align: left;
}
.kuryer{
  margin-top: 25px;
  margin-bottom: 30px;
  display: none;
}
.kod{
  margin-top: 25px;
}
.kod span{
  font-family: Montserrat;
  font-size: 16px;
margin-top: -4px;

  font-weight: 400;
  line-height: 2;
  text-align: left;
  
}
.kuryer button{
  width: 197px;
  height: 58px;
  border-radius: 14px;
  background: #FFF957;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: #242424;
  border: none;
  margin-top: 30px;  
}

.kuryer1{
  margin-top: 24px;
  display: none;
}

.kod1 h1{
  font-family: Montserrat;
font-size: 28px;
font-weight: 600;
line-height: 34.13px;
}
.kontrol{
  margin-top: 24px;
}
.kontrol span{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32.5px;
  text-align: left;
}
.birku{
  line-height: 0 !important;
  margin-top: 10px;
  position: relative;
  top: 0px;
}
.zakon{
  position: relative;
  top: 5px;
}

.kuryer2{
  margin-top: 24px;
  display: none;
}
.kuryer2 h1{
  font-family: Montserrat;
font-size: 28px;
font-weight: 600;
line-height: 34.13px;
}
.kod2{
  margin-top: 24px;
}
.yesli{
  position: relative;
    top: 16px;
    display: flex;
    gap: 7px;
}
/* .swiper-button-next, .swiper-button-prev{
  width: 20px !important;
  height: 20px !important;
  background-color: red !important;
  font-size: 20px !important;
  border-radius: 50%;
  color: #000000 !important;
} */

.mySwiper4 .swiper-button-next, .mySwiper4 .swiper-button-prev{
  /* background-color: red; */

  color: #242424 !important;
}
.mySwiper4 .swiper-button-next:after, .mySwiper4 .swiper-button-prev:after{
  font-size: 15px !important;
  font-weight: 700;
}