*{
    padding-left: 0px;
    margin: 0px;
}
.big_boddy{
    width: 95%;
    max-width: 1440px;
    margin: auto;
    margin-top: 55px;
}
.skupka-body{
    width: 100vw;
}
.pravila_dg{
    display: grid;
    grid-template-columns: 1fr 0fr 1fr;
}
.bonus-main__body-page__road{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 13px;
    margin-top: 14px;
    margin-bottom: 36px;
}
.bonus-main__body-page__road .bx-home-alt{
    font-size: 20px;
}
.bonus-main__body-page__road .bx-chevron-right{
    font-size: 20px;
}
.bonus-main__body-page__road h4{
    font-size: 14px;
    margin-bottom: 0;
}
 
.domik_dg h2{
    font-family: Montserrat;
font-size: 34px;
font-weight: 600;
line-height: 41.45px;
text-align: left;
margin-left: 10px;
}
.dg_btn_sku{
    display: flex;
    margin-top: 4px;
    gap: 9px;
    margin-left: 10px;
overflow-x: auto;
/* background: red; */
}
.dg_btn_sku button{
    font-family: Montserrat;
font-size: 14px;
font-weight: 500;
height: 40px;
line-height: 20px;
text-align: left;
padding: 10px 14px;
border-radius: 8px;
border: none;
background: #F2F2F2;
text-wrap: nowrap;

}
.nam{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 160px;
    /* height: 121px; */

}
.nam p{
    font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 14.63px;
text-align: center;
color: #242424;
}
.nam h4{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.07px;
    text-align: center;
color: #242424;
position: relative;
    }
    .phone__big-application{
        display: grid;
        gap: 0px;
        justify-content: end;
        /* height: 121px; */
        max-width: 500px;
        margin: auto;
    margin-right: 0px;
    grid-template-columns: 1fr 1fr 1fr;
        margin-top: 11px;
        box-shadow: 0px 6px 45px 0px #3E3E3E1A;
        border-radius: 18px;
        width: 100%;
    }
    .nam img{
        margin-bottom: 20px;
    }
    .kon_ban_text h1{
        font-family: Montserrat;
font-size: 56px;
font-weight: 600;
line-height: 64.4px;
text-align: left;
text-transform: uppercase;
margin-bottom: 30px;

    }
    .kon_ban_text h4{
        font-family: Montserrat;
font-size: 32px;
font-weight: 400;
line-height: 36.8px;
text-align: left;
text-decoration: underline;
    }
    .konsul_banner{
        width: 100%;
        height: 464px;
        border-radius: 18px;
        background: url('/image/2d43c92accfc342ddb6abfd2520c32f4.jpeg');
        /* background-color: red; */
        margin-top: 70px;
        /* background-position: center; */
        background-position-x:88% ;
        background-size: cover;
/* display: grid;
grid-template-columns: 1fr 1fr;
overflow: hidden; */
padding-top: 130px;
    }
.kon_ban_text{
    width: 90%;
    margin: auto;
    /* margin-top: 139px; */

}
.kon_ban_img img{
width: 100%;
height: 464px;
}
.zol_ser{
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    margin-top: 55px;
    margin-bottom: 40px;
}
.zol_ser .gram h2{
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 600;
    line-height: 41.45px;
    text-align: left;
    color: #242424;    
    margin-left: 10px;
    margin-top: -3px;
}
.zol_ser .gram{
    width: 100%;
}
.zol_ser .gram h5{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #242424;    
    /* width: 90%; */
    margin-left: 10px;
    position: relative;
    top: 6px;
}
.gram12{
    width: 95%;
    
    border-radius: 14px;
    /* background-color: aqua;/ */
    margin-left: 18px;
    margin-top: 4px;
    position: relative;
    margin-top: 69px;
    left: 20px;
    box-shadow: 0px 0px 10px 0px #3e3e3e3b;
    z-index: 2323 !important;
    /* overflow: hidden; */ 
    
}   
.gram2{
    width: 100%;
    background-color: aquamarine;

}
  .gram button{
    width: 270px;
    height: 56px;
    border: 1px solid #242424;
    border-radius: 8px;
    font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 19.5px;
margin-top: 19px;
margin-left: 12px;
background-color: white;
}
.zoloto_top{
position: absolute;
top: -62px;
left: 0px;
z-index:-1343;
background-color: #FFE535;
width: 427px;
height: 67px;
display: flex;
justify-content: space-between;
align-items: center;
border-top-left-radius: 10px;
padding-left: 30px;
padding-right: 30px;
border-top-right-radius: 10px;
}
.zoloto_top img{
    z-index: 123;
    margin-top: -8px;
}
.zoloto_top h3{
    font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: 24.38px;
text-align: left;
margin-top: -11px;
margin-left: -10px;
}
.top_nalc{
    display: grid;
    grid-template-columns: 134px 299px;
}

.nalc_table{
    width: 100%;
    /* background-color: violet; */
    height: 43px;
    border-right: 1px solid rgba(128, 128, 128, 0.384)!important;
    display: flex;
    background-color: white;
    align-items: center;
    padding-left: 8px;
}

.nalc_table1{
    width: 99%;
    /* background-color: turquoise; */
    height: 43px;
    display: flex;
    align-items: center;
    padding-left: 13px;
    background-color: white;

}
.nalc_table p{
    font-family: Montserrat;
font-size: 12px;
font-weight: 500;
line-height: 14.63px;
text-align: left;
margin-top: -3px;
}
.nalc_table1 p{
    font-family: Montserrat;
font-size: 12px;
font-weight: 500;
line-height: 14.63px;
text-align: left;
margin-top: -4px;
    margin-left: -7px;
}
.bor{
    border-bottom-left-radius: 8px;
}
.three_shag{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    gap: 34px;
    margin-left: 10px;
}
.one_shag{
    background-color: #F2F2F2;
    height: 503px;
    border-radius: 16px;
}
.one_shag img{
    width: 100%;
}
.shg_b{
    margin-top: 10px;
    padding-left: 20px;
    position: relative;
}
.one_shag h2{
    font-family: Montserrat;
font-size: 22px;
font-weight: 600;
line-height: 26.82px;
text-align: left;

}
.one_shag p{
    font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 14.63px;
text-align: left;
position: relative;
top: 9px;
left: 5px;
}
.one_shag span{
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;
position: absolute;
top:188px;
}
.clickkbnt{
    display: flex;
    gap: 10px;
    max-width: 373px;
    margin: auto;
    height: 49px;
    margin-bottom: 20px;
    background-color: #F2F2F2;
    border-radius: 11px;
    margin-top: 40px;
    padding-left: 3px;
    padding-right: 3px;
}
.clickkbnt button{
    width: 171px;
    height: 41px;
    border-radius: 7px;
    /* background-color: black; */
    border: none;
    margin-top: 3px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: center;
    transition: 1s;
}
.onbtn1{
    background-color: white;
}
.viber_prob{
    display: grid;
    grid-template-columns: 1.5fr 1.2fr;
    width: 67%;
    gap: 30px !important;
    margin: auto;
    /* height: 307px;// */
}
.grid_one_prob{
    border-radius: 16px;
    background-color: white;
    border: 1px solid #E4E4E4;
    width: 100%;
    
}
.grid_two_prob{
    width: 100%;
    border: 1px solid #E4E4E4;
    border-radius: 16px;
}
.gr-prob{
    padding: 30px;
}
.gr-prob p{
    font-family: Montserrat;
font-size: 14px;
font-weight: 600;
line-height: 17.07px;
text-align: left;

}
.olch_num{
    width: 46px;
    height: 35px;
    border: 1px solid #E5E5E5;
border-radius: 27px;
display: flex;
justify-content: center;
align-items: center;
/* background-color: #FFE535; */
cursor: pointer;
margin: 0px !important;
transition: 1s;
}
.olch_num h5{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
}
.olch_num:hover{
    background-color: black !important;
    border: none;
    color: white;
}
.olch{
    display: flex;   
    margin-top: 9px;
    gap:10px;
    margin-bottom: 32px;
}
.gr-prob input{
    width: 100%;
    height:44px;
    border-radius: 9px;
    padding-left: 20px;
    margin-top:13px;
    border: 1px solid black;
    outline :none;
    margin-bottom: 15px;
}
.olch1{
    display: flex;   
    margin-top: 13px;
    gap: 10px;
    align-items: center;
}
.olch_num1{
    width: 46px;
    height: 35px;
    background-color: #E5E5E5;
border-radius: 27px;
display: flex;
justify-content: center;
align-items: center;
/* background-color: #FFE535; */
cursor: pointer;
}
.olch_num1 h5{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
}
.olch_num1:hover{
    background-color: rgba(0, 0, 0, 0.262) !important;
    border: none;
  
}
.olch_num {
    background-color: white;
    border: 1px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .olch_num.active {
    background-color: black;
    color: white;
  }
  .two-g-pro{
    padding: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .two-g-pro p{
    font-family: Montserrat;
font-size: 20px;
font-weight: 500;
line-height: 24.38px;
text-align: center;
margin-left:-12px;
  }
  .two-g-pro h2{
    font-family: Montserrat;
font-size: 36px;
font-weight: 600;
line-height: 43.88px;
text-align: center;
margin-left:-10px;
  }

  .two-g-pro button{
    font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 19.5px;
width: 291px;
height:58px;
border-radius: 14px;
background: #FFF957;
border: none;
margin-top: 73px;
margin-left: -13px;
  }
  .two-g-pro button:hover{
    background-color: #eedd6c;
  }
  .prodat_gde{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    gap: 20px;
  }
  .prodat_text{
    margin-left: 9px;
  }
  .prodat_gde img{
    width: 100%;
    margin-left: 10px;
  }
  .prodat_text button{
    font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 19.5px;
width:270px;
height: 56px;
border-radius: 8px;
border: 1px solid #242424;
margin-top:30px;
  }
  .prodat_text h1{
    font-family: Montserrat;
font-size: 34px;
font-weight: 600;
line-height: 41.45px;
text-align: left;
margin-top: -3px;
margin-bottom: 20px;
  }
  .prodat_text p{
    font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;

  }
  .cas_bras{
    display:grid;
    grid-template-columns: 458px 458px 458px;
    gap: 30px;
    margin-left: 14px;

  }
  .kol-bras{
    height:355px;
    width:100%;
    border-radius: 16px;
    background: #F2F2F2;
    /* background-color: red; */
    margin-top: 51px;
  }
 
  .bg_rem_img{
    background-color: white;
    box-shadow: 0px 2px 45px 0px #3E3E3E26;
    width: 426px;
    margin: auto;
    height: 250px;
    border-radius: 16px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    position: relative;
    top: -30px;
  }
  .bg_rem_img img{
    width: 100%;
    transform: scale(1.2);
  }
  .kolicc{
    padding: 21px;
    margin-top: -29px;
  }
  .kolicc h3{
    font-family: Montserrat;
font-size: 22px;
font-weight: 600;
line-height: 26.82px;
text-align: left;
margin-bottom: 10px;
  }
  .kolicc p{
    font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 14.63px;
text-align: left;

  }

  .comfortable h1{
    margin-top: 60px;
    font-family: Montserrat;
font-size: 34px;
font-weight: 600;
line-height: 41.45px;
text-align: left;
margin-left: 10px;
  }  
  .gorod_pe{
    display: flex;
    align-items: center;
    gap: 28px;
    margin-top: 7px;
    margin-left: 10px;
  }
  .gorod_pe select{
    width: 173px;
    height: 44px;
    border-radius: 13px;
    background: #F2F2F2;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gorod_pe p{
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;
margin-bottom: 0;
  }
  .gorod_pe  option{
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;

  }
.gipermarket{
    display: grid;
    grid-template-columns: auto 512px;
    height: 762px;
    border: 1px solid rgba(128, 128, 128, 0.416);
    margin-top: 16px;
    border-radius: 19px;
    overflow: hidden;
    margin-left: 10px;
}
.us_map{
    padding-top: 24px;
    overflow: auto;
    margin-left: 13px;
}
.gipermarket iframe{
    width: 100%;
    height: 762px;
}
.magazin_inp{
    display: grid;
    grid-template-columns: 63px auto;
    width: 95%;
    margin: auto;
    height: 66px;
    border-radius: 8px;
    align-items: center;
    background: #F5F5F5;
}
.magazin_inp input{
    outline: none;
    width: 97%;
    height: 30px;
    border: none;
    font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 21.94px;
text-align: left;
color: #6A6A6A;
background: #F5F5F5;

}
.magazin_inp .bx-search{
    font-size: 30px;
}
.giperlent{
    display: flex;
    align-items: center;
    height: 48px;
    width: 100%;
    background: #F2F2F2;
    margin-top: 13px;
    padding-left: 23px;
    margin-bottom: 33px;
}
.giperlent h3{
    font-family: Montserrat;
font-size: 20px;
font-weight: 700;
line-height: 24.38px;
text-align: left;

}
.o{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #175D9D;
}
.circle_adm{
    display: flex;
    align-items: center;
    gap: 10px;
}
.flagm_magz h3{
    font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: 20px;
text-align: left;
margin-bottom: 15px;
}
.circle_adm p{
    font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: left;

}
.flagm_magz{
    width: 93%;
    margin: auto;
    margin-bottom: 30px;
}
.flagm_magz h5{
    font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: left;
margin-top: 10px;
margin-bottom: 10px;
}
.flagm_magz h4{
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;
color: #898989;
}
.bonus-main-body__return{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 122px;
}
.question{
    height: 54px;
    width: 526px;
    display: flex;
    align-items: center;
    border-radius: 13px;
    padding-left: 23px;
    margin-bottom: 3px;
    transition: 0.6s;
    margin-left: 10px;
}

.question:hover{
    background: #E4E4E4 !important;
}
/* .question:hover{
    color: rgba(211, 211, 211, 0.434);
} */
.question p{
    font-family: Montserrat;
font-size: 18px;
font-weight: 500;
line-height: 21.94px;
text-align: left;

}
.answer_for_question{
    /* background-color: #175D9D; */
    width: 100%;
    margin-top: -20px;
    min-height: 360px;
    box-shadow: 0px 0px 20px 0px #3E3E3E1F;
    border-radius: 14px;
    display: none;
    transition: 1s;
}
.answer_body{
    padding:32px;
}
.answer_body h4{
    font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 21.94px;
text-align: left;
margin-bottom: 18px;

}
.answer_body p{
    font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;

}
.answer_for_question1{
    /* background-color: #0a141d; */
    width: 100%;
    margin-top: -20px;
    min-height: 360px;
    box-shadow: 0px 0px 20px 0px #3E3E3E1F;
    border-radius: 14px;
    display: none;
    padding-top: 8px;

    transition: 1s;
}
.answer_for_question{
    /* background-color: #e6f6ab; */
    width: 100%;
    margin-top: -20px;
    min-height: 360px;
    box-shadow: 0px 0px 20px 0px #3E3E3E1F;
    border-radius: 14px;
    display: none;
    transition: 1s;
}
.answer_for_question3{
    /* background-color: #efabf6; */
    width: 100%;
    margin-top: -20px;
    min-height: 360px;
    box-shadow: 0px 0px 20px 0px #3E3E3E1F;
    border-radius: 14px;
    display: none;
    transition: 1s;
}
.answer_for_question2{
    /* background-color: #f6d3ab; */
    width: 100%;
    margin-top: -20px;
    min-height: 360px;
    box-shadow: 0px 0px 20px 0px #3E3E3E1F;
    border-radius: 14px;
    display: none;
    transition: 1s;
}
.answer_for_question4{
    /* background-color: #f6abf1; */
    width: 100%;
    margin-top: -20px;
    min-height: 360px;
    box-shadow: 0px 0px 20px 0px #3E3E3E1F;
    border-radius: 14px;
    display: none;
    transition: 1s;
}
.answer_for_question5{
    /* background-color: #abf6dd; */
    width: 100%;
    margin-top: -20px;
    min-height: 360px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px #3E3E3E1F;
    border-radius: 14px;
    display: none;
    transition: 1s;
}
.salon_alm{
    display: grid;
    grid-template-columns: 346px auto;
    margin-top: 52px;
    margin-left: 11px;
}
.salon_alm h3{
    font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 29.26px;
text-align: left;

}
.check_skup_dg{
    display: grid;
    align-items: center;
    gap:10px;
    grid-template-columns: 42px auto;
    margin-top: 7px;
    margin-bottom: 10px;
}
.dg_circle{
    width: 100%;
    height: 42px;
    border-radius: 50%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.check_skup_dg p{
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;

}
.check_skup h4{
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: center;
color:#9F9F9F;
}
 .kalk{
    font-family: Montserrat;
font-size: 12px !important;
font-weight: 400;
line-height: 14.63px !important;
text-align: center;
color: #ADADAD;
margin-top: 10px;
 }
 .answer_body ul{
        margin-left: 25px;
    margin-top: 14px;
 }
 .answer_for_question4 li{
    line-height: 22px;
 }
 .answer_for_question5 h3{
    font-family: Montserrat;
font-size: 18px;
font-weight: 500;
line-height: 21.94px;
text-align: left;

 }
 .answer_for_question5 ul{
        margin-top: 8px;
 }
 .answer_for_question5 ul li{
    margin-bottom: 7px;
    line-height: 19px;
 }
.img_bolee{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img_bolee img{
    position: relative;
    top: 31px;
    display: none;
}
.ofooter__pk-phone_number{
    font-size: 34px;
font-weight: 600;
line-height: 41.45px;
text-align: left;
margin-top: 53px;
    margin-bottom: 38px;
    margin-left: 10px;
}
.nalc_table p{
    margin-bottom: 0;
}
.nalc_table1 p{
    margin-bottom: 0;
}
.second-pe{
    display: none;
}
.flagm{
    margin-top: 31px;
    /* margin-left: -3px; */
    cursor: pointer;
}
.flagm h4{
    font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 20px;
text-align: left;
color: #242424;
margin-top: 14px;
/* margin-left: -2px; */
}
.flagm p{
    font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: left;
color: #242424;
margin-top: 6px;
margin-bottom: 4px;
/* margin-left: -3px; */
}
.flagm span{
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;
/* margin-left: -3px; */
color: #898989;
}
.flagm hr{
    color: rgba(128, 128, 128, 0.179) !important;
    opacity: 0.4;
    margin-top: 27px;
}
.magal{
    display: flex;
    align-items: center;
    gap: 6px;
}
.magal h3{
    font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: 20px;
text-align: left;
color: #242424;
margin-top: 8px;
}
.flagm{
    display: none;
}
 @media (max-width:1520px) {
    .cas_bras{
        display: grid;
        grid-template-columns: 400px 400px 400px;
        gap: 30px;
        margin-left: 14px;
    }
    .bg_rem_img{
        width: 367px;
        margin: auto;
        height: 233px;
    }
    .gram12{
        left: 0px;
    }
    .gipermarket{
        margin-left: 0px;
    }
 }
 @media (max-width:1480px) {
    .klient_adult{
        display: grid;
        grid-template-columns: 300px 300px 300px;
    }
 }
 @media (max-width:1350px) {
    .klient_adult{
        display: grid;
        grid-template-columns: 250px 250px 250px !important;
        width: 71% !important;
    }
 }
 @media (max-width:1330px) {
    .cas_bras{
        display: grid;
        grid-template-columns: 350px 350px 350px;
        gap: 30px;
        margin-left: 14px;
    }
    .prodat_text {
        width: 90%;
    }
    .gipermarket {
        width: 90%;
        margin: auto;
    }.bg_rem_img {
        width: 323px;
        margin: auto;
        height: 219px;
    }

 }
 @media (max-width:1250px) {
    .three_shag{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .zol_ser {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        margin-top: 55px;
        margin-bottom: 40px;
    }
    .gram12{
        width: 82%;
    }
    .sergra{
        width: 68%;
    }
    .bonus-main-body__return {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
    }
    .one_shag {
        height: 560px;
    }
}
    @media (max-width:1350px) {
        .klient_adult{
            display: grid;
            grid-template-columns:1fr  1fr  !important;
            width: 100% !important;
        }
        .adult{
            margin-bottom: 10px;
        }
     }
     @media (max-width:1200px) {
        .viber_prob {
            display: grid;
            grid-template-columns: 1.5fr 1.2fr;
            width: 90%;
            gap: 30px !important;
            margin: auto;
            /* height: 307px;/ */
        }
     }
     @media (max-width:1150px) {
        .gram12{
            width: 87%;
        }
        .sergra{
            width: 73%;
        }
     }
     @media (max-width:1188px) {
        .cas_bras {
            display: grid;
            grid-template-columns: 350px 350px;
            gap: 30px;
            width: 90%;
            justify-content: space-around;
            margin: auto;
            /* margin-left: 14px; */
        }
     }
@media (max-width:1110px) {
    .bonus-main-body__return {
        display: grid;
        grid-template-columns: 1fr ;
        gap: 20px;
    }
}
@media (max-width:1060px) {
    .viber_prob {
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        gap: 30px !important;
        margin: auto;
    }
    .gipermarket {
        width: 100%;
        margin: auto;
    }
}
@media (max-width:1040px) {
    .gipermarket iframe{
        display: none;
    }
    .gipermarket{
        display: grid;
        grid-template-columns: auto;
    }
    .gorod_pe{
        margin-bottom: 20px;
        }
        .img_bolee img{
            display: block;
        }
}
@media (max-width:948px) {
    .nam {
        height: 130px;
    }
}
     @media (max-width:991px) {
        body{
            padding-top:112px;
        }
        .dg_btn_sku{
            margin-bottom: 17px;
        }
        .sergra {
            width: 95%;
        }
        .gram12 {
        z-index: 0 !important;
            width: 95%;
        }
        .one_shag {
            height: 500px;
        }
        .flagm{
            display: block;
        }
        .flagm_magz{
            display: none;
        }
     }
 @media (max-width:948px) {
    .pravila_dg{
        display: grid;
        grid-template-columns:  1fr;
    }
    .salon_alm {
        display: grid;
        grid-template-columns: auto;
        margin-top: 52px;
        margin-left: 11px;
    }
    .phone__big-application{
        margin-right: auto;

    }
    .salon_alm h3{
        margin-bottom: 20px;
    }
    .prodat_gde {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 60px;
        gap: 20px;
    }
    .zol_ser {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 55px;
        margin-bottom: 40px;
    }
    .gram12 {
        z-index: 0 !important;
        width: 48%;
        /* margin: auto; */
        /* margin-bottom: 85px; */
        margin-top: 86px;
    }
    .bonus-main__body-page__extra{
        position: relative;
        top: 8px;
        left: 0px;
        gap: 0px;
    }
    .bonus-main__body-page__extra  .bx-home-alt{
        font-size: 16px;
    
    }
 }
 @media (max-width:756px) {
    .cas_bras {
        display: grid;
        grid-template-columns: 350px;
        gap: 30px;
        width: 100%;
        justify-content: space-around;
        margin: auto;
        /* margin-left: 14px; */
    }
    .gram12 {
        z-index: 0 !important;
        width: 64%;
        /* margin: auto; */
        /* margin-bottom: 85px; */
        margin-top: 86px;
    }
    .one_shag {
        height: 430px;
    }
 }
 @media (max-width:650px) {
    .klient_adult{
        display: grid;
        grid-template-columns: 1fr  !important;
        width: 100% !important;
    }
    .three_shag{
        display: grid;
        grid-template-columns: 1fr;
    }
    .grid_one_prob {
        border-radius: 16px;
        background-color: white;
        border: 1px solid #E4E4E4;
        width: 80%;
        /* margin: auto; */
    }
    .grid_two_prob {
        width: 80%;
        /* margin: auto; */
        border: 1px solid #E4E4E4;
        border-radius: 16px;
    }
    .wag{
        top: 140px !important;
    }
    .one_shag {
        height: 530px;
    }
 }
 @media (max-width:560px) {
    .kon_ban_text h1{
        font-family: Montserrat;
font-size: 14px;
font-weight: 600;
line-height: 16.1px;
text-align: left;

    }
    .kon_ban_text h4{
        font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 13.8px;
text-align: left;

    }
    .konsul_banner{
        width: 100%;
        height:151px;
        border-radius: 18px;
        background: url('/image/2d43c92accfc342ddb6abfd2520c32f4.jpeg');
        /* background-color: red; */
        margin-top: 70px;
        /* background-position: center; */
        background-position-x:0 ;
        background-size: cover;
/* display: grid;
grid-template-columns: 1fr 1fr;
overflow: hidden; */
padding-top: 30px;
    }
    .phone__big-application {
        padding: 10px 2px;
    }
    .zol_ser .gram h2{
        font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 21.94px;
text-align: left;

    }
    .zol_ser .gram h5{
        font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;

    }
   
    .gorod_pe{
        display: none;
    }
    .second-pe{
        display: flex;
        align-items: center;
        gap: 28px;
        margin-top: 7px;
        margin-left: 10px;
      }
      .second-pe select{
        width: 173px;
        height: 44px;
        border-radius: 13px;
        background: #F2F2F2;
        border: none;
        padding-left: 10px;
        padding-right: 10px;
      }
      .second-pe p{
        font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    margin-bottom: 0;
      }
      .second-pe  option{
        font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    
      }
    .gram12 {
        z-index: 0 !important;
        width: 82%;
        /* margin: auto; */
        /* margin-bottom: 85px; */
        margin-top: 86px;
    }
    .zoloto_top h3{
        font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 21.94px;
text-align: left;

    }
    .olch{
        display: flex;
        flex-wrap: wrap;
    }
    .olch1{
        display: flex;
        flex-wrap: wrap;
    }
    .grid_two_prob {
        width: 100%;
        /* margin: auto; */
        border: 1px solid #E4E4E4;
        border-radius: 16px;
    }
.grid_one_prob {
    border-radius: 16px;
    background-color: white;
    border: 1px solid #E4E4E4;
    width: 100%;
    /* margin: auto; */
}
    .often-given__question{
        font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 21.94px;
text-align: left;
margin-bottom: 22px;
    }
    .question p{
        font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17.07px;
text-align: left;

    }
    .prodat_gde img{
        display: none;
    }
    .prodat_text h1 {
        font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 21.94px;
text-align: left;

    }
    .prodat_text p{
        font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;

    }
    .izmoj{
        font-family: Montserrat;
font-size: 18px !important;
font-weight: 600;
line-height: 21.94px !important;
text-align: left;

    }
    .media-skup{
        font-family: Montserrat;
font-size: 18px !important;
font-weight: 600 !important;
line-height: 21.94px !important;
text-align: left !important;
margin-bottom: 20px !important;
    }
    .media-app{
        width: 95%;;
        height: 84px !important;
    }
    .media-app img{
        width: 24px;
        position: relative;
        top: -14px !important;
        margin-bottom: 0px !important;
    }
    .medi2{
        top: -23px !important;
    }
    .medi3{
        position: relative;
        top: -27px !important;
    }
        .nam {
            height: auto;
        }
    .nam p{
        position: relative;
        top: -5px !important;
        font-family: Montserrat;
font-size: 10px;
font-weight: 400;
line-height: 12.19px;
text-align: center;
margin-bottom: 0px;
    }
    .nam h4{
        font-family: Montserrat;
font-size: 10px;
font-weight: 600;
line-height: 12.19px;
text-align: center;
margin-top: -10px;
margin-bottom: 0px;
    }
    .poz{
        margin-top: 0 !important;
    }
    .vet h4{
        top: 0 !important; 
        left: 0 !important;
        margin-top: -3px !important;
    }
    .vet p{
        top: -15px;
    }
    .poz1{
        top: 0;
    }
.gram button{
    width: 98%;
}    
.salon_alm h3{
    font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 21.94px;
text-align: left;

}
.check_skup_dg p{
    font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: left;

}
.rasch{
    font-family: Montserrat;
font-size: 18px !important;
font-weight: 600;
line-height: 21.94px;
text-align: center;

}
.gram12{
    margin-left: 0px !important;
    width: 99%;
}
.question{
    width: 100%;
    
}
.bonus-main-body__top-question{
    margin-bottom: 20px;
}
.giperlent{
    display: none;
}
 }
 @media (max-width:534px) {
    .img_bolee h1{
        font-family: Montserrat;
        font-size: 18px !important;
        font-weight: 600 !important;
        line-height: 21.94px !important;
        text-align: left !important;
        
    }
    .zoloto_top{
        width: 100%;
    }
    .top_nalc {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .one_shag {
        height: 490px;
    }
 }
 @media (max-width:520px) {
    .bonus-main__body-page__road h4{
        font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 20px;
text-align: left;
padding-bottom: 0pc;
margin-bottom: 0px;
    }
    .domik_dg h2{
        font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 21.94px;
text-align: left;

    }
    .dg_btn_sku{
        overflow-x: auto !important;
    }
    .dg_btn_sku button{
 
font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 20px;
text-align: left;

    }
    .nam p{
        font-family: Montserrat;
font-size: 10px;
font-weight: 400;
line-height: 12.19px;
text-align: center;

    }
    .nam h4{
        font-family: Montserrat;
font-size: 10px;
font-weight: 600;
line-height: 12.19px;
text-align: center;

    }
    .pravila_dg{
        display: block;
        /* grid-template-columns: 1fr; */
    }
    .zol_ser {
        display: flex;
        flex-wrap: wrap;
    }
 }
 @media (max-width:400px) {
   .one_shag {
        height: 400px;
    }
    .magazin_inp{
        width: 100%;
    }
    .gipermarket{
        border: none;
    }
    .flagm{
        margin-top: 18px;
        margin-left: 10px;
        margin-bottom: 31px;
    }
    .flagm h4{
        font-family: Montserrat;
font-size: 14px;
font-weight: 600;
line-height: 20px;
text-align: left;
    margin-top: 11px;
    }
    .flagm p{
        font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;
    margin-bottom: -1px;
    margin-left: 0px;
    }
    .flagm span{
        font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 20px;
text-align: left;

    }
    .magal h3{
        font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 20px;
text-align: left;

    }
 }
 @media (max-width:420px) {
    .media-skup{
        margin-bottom: 15px !important;
    }
    .zol_ser{
margin-top: 30px;
margin-bottom: 20px;
    }
    .zoloto_top {
        width: 100%;
        height: 67px;
    }
    .top_nalc {
        width: 100%;
    }
    .nalc_table1 {
        width: 100%;
    }
    .phone__big-application {
        margin-top: 0px;
    }
    .konsul_banner {
        /* background: url(/image/2d43c92….jpeg); */
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-top: 35px;
        padding-top: 40px;
    }
    .kon_ban_text h1 {
    margin-bottom: 10px;
    }
    /* .nalc_table{
        border-bottom-left-radius: 5px;
    }
    .nalc_table1{
        border-bottom-right-radius: 5px;
    } */
     .bor{
         border-bottom-left-radius: 10px !important;
         border-bottom-right-radius: 10px !important;
     }
    .question {
        width: 100%;
        height: 42px;
        padding-left: 23px;
        margin-bottom: 5px;
        margin-left: 10px;
    }
    .dg_btn_sku {
        width: 100%;
    }
    .bg_rem_img img {
        width: 100%;
        transform: scale(1);
    }
    .one_shag {
        height: 275px;
    }
    .zol_ser .gram h5 {
        margin-top: 5px;
    }
    .gram br {
        display: none;
    }
    .gram button {
        margin-left: 13px;
        width: 96%;
        /* margin: auto; */
        height: 44px;
        margin-top: 11px;
    }
    .gram12 {
        margin-top: 96px;
    }
    .ctt{
        font-size: 18px !important;
        top: 0;
        text-align: left;
        line-height: 13px !important;
    }
    .three_shag {
        display: flex;
        flex-wrap: wrap;
        margin-top: 22px;
        gap: 14px ;
    }
    .shg_b h2{
        margin-left: 0px !important;
    }
    .wag {
        display: none;
    }
    .one_shag h2 {
        font-size: 14px;
        line-height: 20.82px;
        width: 91%;
    }
    .shg_b {
        padding-left: 10px;
    }
    .one_shag p {
        top: 10px;
        left: 1px;
    }
    .rasch{
        line-height: normal !important;
        text-align: center;
        margin-top: 44px !important;
        margin-left: 0px !important; 
    }
    .clickkbnt {
        gap: 10px;
        width: 100%;
        margin: auto;
        height: 49px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .viber_prob {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 10px !important;
        margin: auto;
    }
    .gr-prob {
        padding: 20px 13px;
    }
    .olch {
        margin-bottom: 7px;
    }
    .two-g-pro {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .two-g-pro button {
        width: 95%;
        height: 45px;
        margin-top: 10px;
        margin-left: 0px;
    }
    .two-g-pro p {
        margin-top: 6px;
        margin-left: 0px;
    }
    .prodat_gde {
        display: flex;
        flex-wrap: wrap;
        margin-top: 38px;
        gap: 0px;
    }
    .prodat_text p {
        font-size: 14px;
        line-height: 21px;
        text-align: left;
    } 
    .prodat_text {
        margin-left: 6px;
        width: 100%;
    }
    .prodat_text h1 {
        margin-bottom: 10px;
        width: 100%;
    }
    .prodat_text button {
        font-size: 16px;
        width: 100%;
        height: 43px;
        margin-top: 3px;
    }
    .izmoj{
        margin-top: 30px !important;
        margin-left: 6px !important;
    }
    .kol-bras {
        height: 272px;
        width: 97%;
        border-radius: 16px;
        background: #F2F2F2;
        margin-top: 47px;
    }
    .bg_rem_img {
        width: 310px;
        margin: auto;
        height: 170px;
    }
    .kolicc h3 {
        font-size: 16px;
        line-height: 19.5px;
        margin-bottom: 10px;
    }
    .kolicc {
        padding: 17px;
        margin-top: -20px;
    }
    .cas_bras {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .comfortable h1 {
        margin-top: 33px;
        margin-left: 6px;
    }
    .magazin_inp {
        display: grid;
        grid-template-columns: 38px auto;
        width: 100%;
        margin: 0;
        height: auto;
        padding: 12px 10px;
    }   
    .us_map {
        padding: 10px 10px;
        margin-left: 0;
        margin-top: 8px;
    }
    .answer_for_question .answer_body {
        padding: 29px;
    }
    .answer_body{
        padding: 15px;
    }
    .answer_for_question{
        min-height: auto;
    }
    .answer_body p {
        font-size: 14px;
        line-height: 21px;
    }
    .salon_alm {
        margin-top: 12px;
        margin-left: 6px;
    }
    .salon_alm h3 {
        margin-bottom: -4px;
    }
.phone__big-application {
    margin-right: auto;
}
.media-app img {
    width: 25px;
    position: relative;
    top: -12px !important;
    margin-bottom: 0px !important;
}
.nam p{
    font-family: Montserrat;
font-size: 10px !important;
font-weight: 400 !important;
line-height: 12.19px !important;
text-align: center;
width: 60%;
}
.phone__big-application {
    padding: 16px 2px;
}
.zoloto_top img {
    z-index: 123;
    margin-top: -8px;
    margin-left: 27px;
    position: relative;
    left: 15px;
}
.zoloto_top h3{
    margin-top: 4px;
    margin-left: -7px;
}
.nalc_table p{
    margin-bottom: 0;
}
.top_nalc{
display: grid;
        grid-template-columns: 1.45fr 2fr;
    }
    .nalc_table{
        padding-left: 24px;
    }
    .nalc_table1{
        padding-left: 22px;
    }
    .sergra{
        margin-top: 65px !important;
    }
    .sergra .zoloto_top{
        top: -55px !important;
    }
    .grid_one_prob {
         
        width: 96%;
        margin: auto;
    }
    .olch{
        margin-top: -3px;
        gap: 17px;
    }
    .gr-prob p{
        margin-bottom: 14px;
        position: relative;
        top: -2px;
        left: 5px;
    }
    .gr-prob input{
        margin-top: 0px;
    }
    .olch1{
        margin-top: -5px;
        gap: 12px;
    }
    .olch_num1 {
        width: 50px;
    }
    .two-g-pro h2{
        margin-left: 3px;
    }
    .two-g-pro p {
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: -4px;
    }
    .two-g-pro button{
        font-family: Montserrat;
font-size: 12px;
font-weight: 500;
line-height: 14.63px;
width: 95%;
height: 45px;
margin-top: 18px;
margin-left: 4px;
margin-bottom: 8px;

    }
    .kalk{
        width: 99%;
    }
    .for_it{
        margin-bottom: -9px;
        margin-top: 51px;

    }
    .for_it .kolicc{
        margin-top: -27px;
    }
    .second-pe p{
        font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;

    }
    .second-pe  option{
       
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 17.07px;
        text-align: left;
        
    
      }
      .second-pe select{
        width: 173px;
        height: 44px;
        border-radius: 13px;
        background: #F2F2F2;
        border: none;
        padding-left: 10px;
        padding-right: 10px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 17.07px;
        text-align: left;
      }
      .second-pe {
        margin-top: 33px;
        margin-left: 8px;
      }
      .img_bolee img {
        position: relative;
        top: 1px;
        right: 5px;
      
    }
    .us_map {
        padding: 0px 0px;
        margin-left: 0;
    }
    .magazin_inp input{
        font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;

    }
    .often-given__question{
        margin-top: 0px;
    }
    .question p{
        width: 86%;
    }
    .how__sell{
        width: 80%;
    }
    .dg_circle img{
        width: 33%;
    }
 
.dg_circle {
    width: 73%;
    height: 29px;
}
.check_skup_dg {
    align-items: start;
    gap: 0px;
    grid-template-columns: 36px auto;
    margin-bottom: -10px;
}
.check_skup h4{
    font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: left;

}
.classs-footer2{
    margin-top: 30px !important;
}
.answer_body ul{
    margin-left: 0px;
}
.answer_for_question5 h3 {
    font-family: Montserrat;
    font-size: 16px;
}
}
.olch_num h5{
    margin-bottom: 0px;
}
    .olch_num1 h5{
        margin-bottom: 0px;
    }
    .circle_adm p{
        margin-bottom: 0px;
    }
    .question p {
        margin-bottom: 0px;
    }
  