/* .vector{
    width: 100%;
    height:897px;
    background: linear-gradient(256.76deg, #FAED00 0.54%, #00D900 37.6%, #21A038 92.45%);
    margin-top: 60px;
  
    position: relative;
} */
body{
    width: 100vw;
}
.topol{
    position: absolute;
    bottom: 0px;
    right: -100px;
}
.leftpos{
    position: absolute;
    left: 0px;
    top: 0px;
}
.grtwo{
    width: 100%;
    transform: scale(1.2);
}
.vektor_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:75%;
    /* background-color: red; */
    margin: auto;
    padding-top: 79px;
    color: white;
    gap: 20px;
}
.vektor_text h1{
    font-family: Montserrat;
font-size: 81px;
font-weight: 700;
line-height: 98.74px;
text-align: left;
margin-bottom: 46px;
}
.vektor_text{
    width: 100%;
}
.vektor_text h2{
    font-family: Montserrat;
font-size: 50px;
font-weight: 500;
line-height: 60.95px;
text-align: left;

}
.vektor_text img{
    margin-top: 46px;
}
.cart_phone_check{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 29px;
}
.how{
    width: 75%;
    /* background-color: red; */
    /* height: 386px; */
    margin: auto;
    margin-top: -226px;
    position: relative;
    z-index: 2;
}
.how h1{
    font-family: Montserrat;
font-size: 44px;
font-weight: 700;
line-height: 53.64px;
text-align: left;
color:white;
text-transform: uppercase;
}
.kor_tel_chek{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 310px;
    /* background-color: royalblue; */
    margin-top: 20px;
    border:1px solid linear-gradient(256.76deg, #21A038 13.79%, #00D900 68.64%, #FAED00 105.7%);
    background: #F1F1F1D9;
    border-radius: 16px;

}
.kor_tel_chek p{
    font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 21.94px;
text-align: center;
position: relative;
top: -48px;
}
.kor_tel_chek img{
    margin-bottom: 82px;
}
.cntr_btn{
    width: 301px;
    height:55px;
    border-radius: 8px;
    font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
color: white;
background: #242424;
margin-top: 43px;
margin-left: -7px;
border: none;
}
.doxod{
    width: 75%;
    /* height: 416px; */
    background: #DEF1E1;
    /* background-color: red; */
    border-radius:32px;
    margin: auto;
    margin-top: 167px;
    padding-top: 43px;
    padding-bottom: 34px;
}
.doxod h2{
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    line-height: 34.13px;
    text-align: center;
    
}
.wdthkm li{
    font-family: Montserrat;
font-size: 24px;
font-weight: 400;
line-height: 42px;
text-align: left;
margin-bottom: 10px;
}
.wdthkm{
    width: 86%;
    margin: auto;
    margin-top: 39px;
}
.farm22{
    display: none;
}
.jewel img{
    width: 100%;
}
.farm13{
    display: none;
}
.howh1 {
    margin-top: -18px !important;
    margin-left: 7px !important;
}
.farm13{
    
}
@media (max-width:1340px) {
    .how {
        width: 89%;
        /* background-color: red; */
        /* height: 386px; */
        margin: auto;
        margin-top: -226px;
        position: relative;
        z-index: 2;
    }
}
@media (max-width:1110px) {
    .how {
        width: 96%;
        /* background-color: red; */
        /* height: 386px; */
        margin: auto;
        margin-top: -226px;
        position: relative;
        z-index: 2;
    }
}
.top_accordion_12{
    width: 95%;
    margin: auto;
    max-width: 1440px;
    
    }
    .top_accordion_12 h5{
        text-align: center;
        font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    line-height: 34.13px;
    text-align: center;
    margin-top: 50px;
    /* letter-spacing: 2px; */
    }
@media (max-width:1008px) {
   
.cart_phone_check {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 29px;
}
.doxod {
    width: 96%;
    /* height: 416px; */
    background: #DEF1E1;
    /* background-color: red; */
    border-radius: 32px;
    margin: auto;
    margin-top: 34px;
    padding-top: 26px;
}
}
@media (max-width:900px) {
    .how{
        margin-top: 40px !important;
    }
    body {
        width: 99vw;
    }
}
@media (max-width:730px) {
   
    .cart_phone_check {
        display: grid;
        grid-template-columns:  1fr;
        gap: 29px;
    }
}
@media (max-width:500px) {
    .how h1{
        font-family: Montserrat;
font-size: 20px;
font-weight: 700;
line-height: 24.38px;
text-align: left;

    }
    .kor_tel_chek p{
        font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: center;
position: relative;
top: 13px;

    }
}
@media (max-width:500px) {
    .doxod h2{
        font-family: Montserrat;
font-size: 18px;
font-weight: 700;
line-height: 21.94px;
text-align: center;

    }
.farm{
    display: none;
}
.farm22{
    display: block;
}
.wdthkm1 {
    width: 99%;
    margin: auto;
    margin-top: 7px;
}
.wdthkm1 li{
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
margin-bottom: 0px;
width: 90%;
}
.one_tel{
    height: 146px;
    width: 95%;
    /* margin: auto; */
    margin-left: 5px;
    margin-top: 7px;
}
.one_tel img{
    width: 53px;
    margin-bottom: 18px !important;
}
.one_tel p{
    position: relative;
    top:15px !important ;
}
body{
    padding-top: 101px;
}
/* .jewel{
    margin-left: -6px;
} */
.how h1{
    margin-top: -35px !important;
    margin-left: 4px;
}
.one_tel2{
    height: 181px;
    width: 95%;
    /* margin: auto; */
    margin-left: 5px;
    margin-top: 7px;
}
.one_tel2 img{
    width: 53px;
    margin-bottom: 18px !important;
}
.one_tel2 p{
    position: relative;
    top:15px !important ;
}
.cart_phone_check {
    display: grid;
    grid-template-columns: 1fr;
    gap: 11px;
}
.one_tel3{
    height: 165px;
    width: 95%;
    /* margin: auto; */
    margin-left: 5px;
    margin-top: 7px;
}
.one_tel3 img{
    width: 36px;
    margin-bottom: 18px !important;
}
.one_tel3 p{
    position: relative;
    top:12px !important ;
}
.cntr_btn{
    height: 44px;
    width: 94%;
    margin-top: 16px;
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;

}
.doxod {
    width: 91%;
    /* height: 416px; */
    background: #DEF1E1;
    /* background-color: red; */
    border-radius: 8px;
    margin: auto;
    margin-top: 20px;
    height: 246px;
    padding-top: 15px;
}
.doxod h2 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.94px;
    text-align: center;
    margin-left: -10px;
}
.top_accordion_12 h5{
    font-family: Montserrat;
font-size: 20px;
font-weight: 700;
line-height: 24.38px;
text-align: center;
margin-top: 17px;
/* margin-left: -10px; */
}
.farm12{
    display: none;
}
.farm13{
    display: block;
}
}
.ownaccor{
    /* background-color: red !important; */
} 
.top_accordion_12  .ownaccor{
    min-height: 46px !important;
    box-shadow: 0px 1px 0px #dee2e6 !important;
    width: 100%;
    margin: auto;
    font-family: Montserrat;
font-size: 16px !important;
font-weight: 600;
line-height: 19.5px;
padding: 0px !important;
text-align: left;
height:56px;
    border: none !important;
    margin-bottom: 13px;
}
.top_accordion_12 .accordion{
    --bs-accordion-border-color: white !important;
    margin-top: 32px;
    margin-left: 3px;

}

.for_bg_ac{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.for_bg_ac h2 {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    line-height: 34.13px;
    text-align: center;
    margin-bottom: 40px !important;
}
.questions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    /* gap: 20px; */
    padding: 5px 0px 0px 0px;
    margin-bottom: 15px;
}
.voprosi{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 0px 10px 0px !important;
    border-bottom: 1px #b4b4b493 solid;
}
.voprosi p{
    font-weight: 500 !important;
    font-size: 22px !important ;
    cursor: pointer;
    margin-bottom: 10px;
}
.voprosi i{
    font-size: 30px;
}
.accordion {
    width: 80%;
    max-width: 800px;
    margin: 2rem auto;
  }
.accordion-item {
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
  }
.accordion-header {
    background-color: #f1f1f1;
    padding: 1rem;
  }
.accordion-content {
    padding: 16px;
    display: none;
  }
  @media (max-width:630px) {
    .questions{
        padding: 0px 20px;
    }
   }