@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.kak-body{
padding-top: 190px;
}
.kak-body .main{
    max-width:1440px;
    width: 95%;
    margin: auto;
}
.dom_arr_skup {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-left: 13px;
    margin-top: 21px;
    margin-bottom: 36px;
}
.kak-body .main .title_page{
    font-family: Montserrat;
font-size: 28px;
font-weight: 600;
line-height: 34.13px;
text-align: left;
margin-left: 10px;
padding-top: 2px;
}